workflows/exports/2026-05-21_40-plan-watcher-real-api-detect-test-safe.redacted.json
{"name":"40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - REAL API PLAN DETECT TEST SAFE","nodes":[{"parameters":{},"id":"manual-trigger-real-api-plan-detect","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1500,300]},{"parameters":{"jsCode":"// REAL-API TEST-SAFE DRAFT. One target repo only. No message nodes, no write nodes.\nreturn [{ json: { ownerRepo: 'mrhz1973/control-plane', sourceRepo: 'mrhz1973/control-plane' } }];"},"id":"emit-control-plane-repo","name":"Emit control-plane repo","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1260,300]},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.ownerRepo }}/commits?per_page=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"User-Agent","value":"control-plane-40-real-api-plan-detect-test-safe"}]},"options":{}},"id":"github-fetch-latest-commit","name":"GitHub - Fetch latest control-plane commit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1020,300],"credentials":{"githubApi":{"id":"__REDACTED_N8N_CREDENTIAL_ID__","name":"GitHub account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const target = $('Emit control-plane repo').item.json;\nconst resp = $input.item.json;\nconst commit = Array.isArray(resp) ? resp[0] : resp;\nconst sha = commit?.sha || '';\nreturn { json: {\n  ownerRepo: target.ownerRepo,\n  sourceRepo: target.sourceRepo,\n  currentSha: sha,\n  shortSha: sha ? sha.substring(0, 7) : '',\n  latestCommitUrl: commit?.html_url || '',\n  latestCommitMessage: String(commit?.commit?.message || '').split('\\n')[0],\n  event: 'latest_commit_loaded',\n  testSafe: true,\n  noMessages: true,\n  noWrites: true\n}};"},"id":"prepare-latest-control-plane-commit","name":"Prepare latest control-plane commit","type":"n8n-nodes-base.code","typeVersion":2,"position":[-780,300]},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.ownerRepo }}/commits/{{ $json.currentSha }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"User-Agent","value":"control-plane-40-real-api-plan-detect-test-safe"}]},"options":{}},"id":"github-fetch-commit-details","name":"GitHub - Fetch commit details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-540,300],"credentials":{"githubApi":{"id":"__REDACTED_N8N_CREDENTIAL_ID__","name":"GitHub account"}}},{"parameters":{"jsCode":"// Detect docs/plans/*.plan.md changed files from real GitHub commit details.\nconst commit = $input.first().json;\nconst latest = $('Prepare latest control-plane commit').first().json;\nconst files = Array.isArray(commit.files) ? commit.files : [];\nconst planFiles = files.filter((f) => {\n  const name = String(f.filename || '');\n  return /^docs\\/plans\\/[^/]+\\.plan\\.md$/.test(name);\n});\nif (!planFiles.length) {\n  return [{ json: {\n    event: 'no_plan_detected',\n    repo: latest.ownerRepo,\n    commitSha: latest.currentSha,\n    shortSha: latest.shortSha,\n    latestCommitUrl: latest.latestCommitUrl,\n    latestCommitMessage: latest.latestCommitMessage,\n    changedFileCount: files.length,\n    changedFiles: files.map(f => f.filename).slice(0, 30),\n    gate: 'C-real-api-plan-detect-test-safe',\n    noMessages: true,\n    noWrites: true\n  }}];\n}\nreturn planFiles.map((f) => ({ json: {\n  event: 'plan_detected',\n  repo: latest.ownerRepo,\n  commitSha: latest.currentSha,\n  shortSha: latest.shortSha,\n  latestCommitUrl: latest.latestCommitUrl,\n  latestCommitMessage: latest.latestCommitMessage,\n  planPath: f.filename,\n  fileStatus: f.status || '',\n  additions: f.additions ?? null,\n  deletions: f.deletions ?? null,\n  changes: f.changes ?? null,\n  gate: 'C-real-api-plan-detect-test-safe',\n  nextGate: 'Gate D message delivery not authorized',\n  noMessages: true,\n  noWrites: true\n}}));"},"id":"code-detect-real-plan-files","name":"Code - Detect real docs/plans plan files","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,300]}],"pinData":{},"connections":{"Manual Trigger":{"main":[[{"node":"Emit control-plane repo","type":"main","index":0}]]},"Emit control-plane repo":{"main":[[{"node":"GitHub - Fetch latest control-plane commit","type":"main","index":0}]]},"GitHub - Fetch latest control-plane commit":{"main":[[{"node":"Prepare latest control-plane commit","type":"main","index":0}]]},"Prepare latest control-plane commit":{"main":[[{"node":"GitHub - Fetch commit details","type":"main","index":0}]]},"GitHub - Fetch commit details":{"main":[[{"node":"Code - Detect real docs/plans plan files","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"},"versionId":"__REDACTED_VERSION_ID__","meta":{"status":"DRAFT / REAL API TEST SAFE / NOT ACTIVE / NOT IMPORTED","runtimeNameCurrent":"40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - ACTIVE","purpose":"PM-09 Gate C real GitHub API test for docs/plans/*.plan.md detection","rawGitHubUrl":"https://raw.githubusercontent.com/mrhz1973/control-plane/main/workflows/exports/2026-05-21_40-plan-watcher-real-api-detect-test-safe.redacted.json","behavior":"Reads latest mrhz1973/control-plane commit and emits plan_detected if commit details include docs/plans/*.plan.md; otherwise no_plan_detected.","requiresCredential":"GitHub account only","noMessages":true,"noWrites":true,"noScheduleExecution":"Manual Trigger only during test","draftCreatedAt":"2026-05-21"},"id":"__REDACTED_WORKFLOW_ID__","tags":[{"name":"not-imported"},{"name":"redacted"},{"name":"control-plane"},{"name":"v4"},{"name":"draft"},{"name":"pm-09-gate-c"},{"name":"test-safe"},{"name":"plan-detection"},{"name":"real-api"},{"name":"40"}],"staticData":null}