workflows/exports/2026-05-21_40-plan-watcher-production-candidate-gate-c.redacted.json
{"name":"40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - GATE C PRODUCTION CANDIDATE","nodes":[{"parameters":{},"id":"dc4cdb97-2f3c-4e17-aee1-c4f43235c568","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2464,272]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"a21d7572-7eb3-494d-b3f3-2fafe4196aab","name":"Schedule Trigger - controlled polling","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2464,464]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"control_plane_state"},"returnAll":true},"id":"7aa0f03f-ccac-444b-8547-d348755a8717","name":"Data Table - Load all state rows","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-2240,368],"alwaysOutputData":true},{"parameters":{"jsCode":"const repos = [\n  { ownerRepo: 'mrhz1973/control-plane', stateKey: 'github:mrhz1973/control-plane:last_commit_sha', sourceRepo: 'mrhz1973/control-plane' },\n  { ownerRepo: 'mrhz1973/dev-method', stateKey: 'github:mrhz1973/dev-method:last_commit_sha', sourceRepo: 'mrhz1973/dev-method' },\n  { ownerRepo: 'mrhz1973/cursor-coordinate-converter', stateKey: 'github:mrhz1973/cursor-coordinate-converter:last_commit_sha', sourceRepo: 'mrhz1973/cursor-coordinate-converter' }\n];\nreturn repos.map((r) => ({ json: r }));"},"id":"4af9dae6-a34b-4213-b2e8-a00e040332f4","name":"Emit watched repos (3)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,368]},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.ownerRepo }}/commits?per_page=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"User-Agent","value":"control-plane-n8n-40-production-candidate-gate-c"}]},"options":{}},"id":"4812e0be-6d3c-4838-952c-b9ebf93ee862","name":"GitHub - Fetch latest commit (per repo)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1792,368],"credentials":{"githubApi":{"id":"__REDACTED_N8N_CREDENTIAL_ID__","name":"GitHub account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const target = $('Emit watched repos (3)').item.json;\nconst resp = $input.item.json;\nconst commit = Array.isArray(resp) ? resp[0] : resp;\nconst sha = commit?.sha || '';\nconst rawMessage = commit?.commit?.message || 'no commit message';\nconst message = rawMessage.split('\\n')[0];\nconst url = commit?.html_url || 'no URL';\nreturn {\n  json: {\n    stateKey: target.stateKey,\n    currentSha: sha,\n    shortSha: sha ? sha.substring(0, 7) : '',\n    message,\n    url,\n    sourceRepo: target.sourceRepo,\n    ownerRepo: target.ownerRepo\n  }\n};"},"id":"c5af188a-379c-43bb-b17c-9070df9c863d","name":"Prepare latest commit event","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,368]},{"parameters":{"jsCode":"const prepareItems = $('Prepare latest commit event').all();\nconst stateRows = $('Data Table - Load all state rows').all().map((entry) => entry.json);\nreturn prepareItems.map((item) => {\n  const latest = item.json;\n  const row = stateRows.find((r) => r.key === latest.stateKey);\n  const storedValue = row?.value || '';\n  const isNew = Boolean(latest.currentSha && latest.currentSha !== storedValue);\n  return {\n    json: {\n      ...latest,\n      previousSha: storedValue || '',\n      isNew,\n      hadStateRow: Boolean(row?.key)\n    }\n  };\n});"},"id":"31e8d5a4-8dec-40a8-8b3c-0d1f0b98ce47","name":"Decide Data Table dedupe","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,368]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"is-new-commit-condition-40-production-candidate","leftValue":"={{ $json.isNew }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e5c3b3b6-66c3-4a0d-bf62-1ff73d83adbb","name":"IF - New commit?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,368]},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"mode":"name","value":"control_plane_state"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"key","keyValue":"={{ $json.stateKey }}"}]},"columns":{"mappingMode":"defineBelow","value":{"key":"={{ $json.stateKey }}","value":"={{ $json.currentSha }}","updated_at":"={{ $now.toISO() }}","note":"={{ 'Latest notified commit SHA for scheduled poll: ' + $json.sourceRepo }}"}},"options":{}},"id":"40804beb-56a5-48d6-965c-3f360e43fe8d","name":"Data Table - Upsert last seen commit","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-896,368]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const latest = $('Decide Data Table dedupe').item.json;\nconst previous = latest.previousSha ? latest.previousSha.substring(0, 7) : 'none';\nreturn { json: { text: `CONTROL PLANE scheduled poll commit notification\\nRepo: ${latest.sourceRepo}\\nNew commit: ${latest.shortSha}\\nPrevious: ${previous}\\nMessage: ${latest.message}\\nURL: ${latest.url}` } };"},"id":"831e91b8-9f3b-4d4c-b43e-2cd678075b6b","name":"Format Data Table Telegram message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,368]},{"parameters":{"chatId":"__CONFIGURE_CHAT_ID_IN_N8N_UI__","text":"={{ $json.text }}","additionalFields":{}},"id":"b78bc724-ad79-4767-a254-4f1d739e63d9","name":"Telegram - Send Data Table deduped message","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-448,368],"webhookId":"__REDACTED_WEBHOOK_ID__","credentials":{"telegramApi":{"id":"__REDACTED_N8N_CREDENTIAL_ID__","name":"CONTROL PLANE - Telegram Bot"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return { json: { status: 'duplicate_skip', reason: 'Latest commit already stored in control_plane_state for this repo key', stateKey: $json.stateKey, sourceRepo: $json.sourceRepo, currentSha: $json.currentSha, previousSha: $json.previousSha } };"},"id":"ae8f9004-b0da-401a-8829-5bcdb5d2c79b","name":"Duplicate skip - no Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"gis-handoff-condition-40-production-candidate","leftValue":"={{ $json.ownerRepo || $json.sourceRepo }}","rightValue":"mrhz1973/cursor-coordinate-converter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"608c1354-4b85-4bca-a759-05f69d59b092","name":"IF - GIS repo for handoff?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-896,176]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const repo = String($json.ownerRepo || $json.sourceRepo || '').trim();\nconst isControlPlane = repo === 'mrhz1973/control-plane';\nreturn { json: { event: isControlPlane ? 'plan_branch_entered' : 'plan_branch_skipped', repo, stateKey: $json.stateKey, currentSha: $json.currentSha, shortSha: $json.shortSha, latestCommitUrl: $json.url, latestCommitMessage: $json.message, previousSha: $json.previousSha, gate: 'C-production-candidate', activeRuntimeTarget: '40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - ACTIVE', gateD: 'not_authorized', noGateDTelegram: true } };"},"id":"b7e4a901-2c3d-4f5a-9b8e-planwatcherstub01","name":"Code - Plan watcher repo gate stub","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,752]},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.repo }}/commits/{{ $json.currentSha }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"User-Agent","value":"control-plane-n8n-40-production-candidate-gate-c"}]},"options":{}},"id":"github-fetch-commit-details-plan-files-production-candidate","name":"GitHub - Fetch commit details (plan files)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,752],"credentials":{"githubApi":{"id":"__REDACTED_N8N_CREDENTIAL_ID__","name":"GitHub account"}}},{"parameters":{"jsCode":"const commit = $input.first().json;\nconst gate = $('Code - Plan watcher repo gate stub').first().json;\nconst files = Array.isArray(commit.files) ? commit.files : [];\nconst planFiles = files.filter((f) => {\n  const name = String(f.filename || '');\n  return /^docs\\/plans\\/[^/]+\\.plan\\.md$/.test(name);\n});\nif (!planFiles.length) {\n  return [{ json: { event: 'no_plan_detected', repo: gate.repo, commitSha: gate.currentSha, shortSha: gate.shortSha, changedFileCount: files.length, changedFiles: files.map(f => f.filename).slice(0, 30), gate: 'C-production-candidate', gateD: 'not_authorized' } }];\n}\nreturn planFiles.map((f) => ({ json: { event: 'plan_detected', repo: gate.repo, commitSha: gate.currentSha, shortSha: gate.shortSha, planPath: f.filename, fileStatus: f.status || '', additions: f.additions ?? null, deletions: f.deletions ?? null, changes: f.changes ?? null, gate: 'C-production-candidate', nextGate: 'Gate D message delivery not authorized' } }));"},"id":"code-detect-real-plan-files-production-candidate","name":"Code - Detect real docs/plans plan files","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,752]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return { json: { status: 'gate_c_no_telegram', event: $json.event, repo: $json.repo, planPath: $json.planPath || '', commitSha: $json.commitSha, shortSha: $json.shortSha, gate: 'C-production-candidate', note: 'Gate C detection only. Gate D Telegram not wired.' } };"},"id":"code-gate-c-output-no-telegram","name":"Code - Gate C output no Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,752]}],"pinData":{},"connections":{"Manual Trigger":{"main":[[{"node":"Data Table - Load all state rows","type":"main","index":0}]]},"Schedule Trigger - controlled polling":{"main":[[{"node":"Data Table - Load all state rows","type":"main","index":0}]]},"Data Table - Load all state rows":{"main":[[{"node":"Emit watched repos (3)","type":"main","index":0}]]},"Emit watched repos (3)":{"main":[[{"node":"GitHub - Fetch latest commit (per repo)","type":"main","index":0}]]},"GitHub - Fetch latest commit (per repo)":{"main":[[{"node":"Prepare latest commit event","type":"main","index":0}]]},"Prepare latest commit event":{"main":[[{"node":"Decide Data Table dedupe","type":"main","index":0}]]},"Decide Data Table dedupe":{"main":[[{"node":"IF - New commit?","type":"main","index":0}]]},"IF - New commit?":{"main":[[{"node":"IF - GIS repo for handoff?","type":"main","index":0},{"node":"Data Table - Upsert last seen commit","type":"main","index":0},{"node":"Code - Plan watcher repo gate stub","type":"main","index":0}],[{"node":"Duplicate skip - no Telegram","type":"main","index":0}]]},"Data Table - Upsert last seen commit":{"main":[[{"node":"Format Data Table Telegram message","type":"main","index":0}]]},"Format Data Table Telegram message":{"main":[[{"node":"Telegram - Send Data Table deduped message","type":"main","index":0}]]},"Code - Plan watcher repo gate stub":{"main":[[{"node":"GitHub - Fetch commit details (plan files)","type":"main","index":0}]]},"GitHub - Fetch commit details (plan files)":{"main":[[{"node":"Code - Detect real docs/plans plan files","type":"main","index":0}]]},"Code - Detect real docs/plans plan files":{"main":[[{"node":"Code - Gate C output no Telegram","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"},"versionId":"__REDACTED_VERSION_ID__","meta":{"status":"DRAFT / PRODUCTION CANDIDATE / NOT ACTIVE / NOT IMPORTED","runtimeNameCurrent":"40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - ACTIVE","purpose":"PM-09 Gate C production-candidate integration: existing 40 branches plus plan detection branch, with Gate D Telegram not wired.","rawGitHubUrl":"https://raw.githubusercontent.com/mrhz1973/control-plane/main/workflows/exports/2026-05-21_40-plan-watcher-production-candidate-gate-c.redacted.json","gateC":"integrated as isolated true-branch from IF - New commit? for mrhz1973/control-plane plan detection","gateD":"not authorized and not wired","activeFalse":true,"redaction":"no token, no real chat identifier, no credential id, no webhook URL","importNote":"Import/review in n8n is a separate manual gate. Do not activate. Do not replace production 40 until explicitly instructed.","knownNote":"This candidate keeps existing production Telegram placeholders for commit notifications but adds no Gate D Telegram node."},"id":"__REDACTED_WORKFLOW_ID__","tags":[{"name":"not-imported"},{"name":"redacted"},{"name":"control-plane"},{"name":"v4"},{"name":"draft"},{"name":"pm-09-gate-c"},{"name":"production-candidate"},{"name":"plan-detection"},{"name":"40"}],"staticData":null}