workflows/exports/2026-07-02_wf-47-telegram-inbound-polling-getupdates-post-gate-d.redacted.json
{"name":"47 - Wf Telegram Inbound Polling getUpdates TEST ONLY - TEMPLATE","nodes":[{"parameters":{},"id":"1b30f637-77d2-49d4-b2a3-463946708b06","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2096,-160]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"56e945e7-c8e1-4fe5-9657-760c7cd6f5d1","name":"Schedule Trigger - TEST ONLY DISABLED","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2096,48],"disabled":true},{"parameters":{"content":"READY IMPORT — active=false. Schedule Trigger disabled/test-only. No Telegram Trigger. No public webhook.\n\nWg48 handoff: Set Wf47 UI config enable_wg48_handoff=false (default). When false, IF short-circuits before Execute Workflow. Phase 2: set true only for test window + wire CONFIGURE_48_WORKFLOW_REFERENCE_IN_N8N_UI on Execute Workflow node (no hardcoded workflow id in Git).\n\nPrereq: wf47_polling_state_test seeded. Token/chat_id in n8n UI only.","height":320,"width":520},"id":"abf58889-cd2e-440e-bf14-ec9c4cf7ee98","name":"NOTE - ready import Data Table","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1648,128]},{"parameters":{"assignments":{"assignments":[{"id":"wf47-set-allowed-chat","name":"allowed_chat_id","value":"472599368","type":"string"},{"id":"wf47-set-handoff","name":"enable_wg48_handoff","value":false,"type":"boolean"}]},"options":{}},"id":"ebae55db-20d4-434c-8a3a-2e602160b107","name":"Set Wf47 UI config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,-64]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"wf47_polling_state_test"},"returnAll":true},"id":"8b2e7b38-71fb-4a71-8c00-21647091c0b0","name":"Data Table - Load wf47 polling state","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1648,-64],"alwaysOutputData":true},{"parameters":{"jsCode":"// Build getUpdates params from wf47_polling_state_test rows (no token/chat in output).\nconst rows = $('Data Table - Load wf47 polling state').all().map((i) => i.json);\n\nconst byKey = (k) => {\n  const row = rows.find((r) => r && r.key === k);\n  return row ? row.value : null;\n};\n\nconst lastUpdateId = Number(byKey('last_update_id') || 0);\nconst lastHandled = Number(byKey('last_handled_update_id') || 0);\n\nlet handledKeys = {};\ntry {\n  const raw = byKey('handled_keys_json') || '{}';\n  handledKeys = typeof raw === 'object' ? raw : JSON.parse(String(raw));\n} catch {\n  handledKeys = {};\n}\n\nreturn [{\n  json: {\n    offset: lastUpdateId,\n    limit: 10,\n    last_handled_update_id: lastHandled,\n    handled_keys: handledKeys,\n\n    // D-0033 / Gate D Fase 1:\n    // exactly one open Decision Packet is expected for plain Telegram replies \"1/2/3\".\n    open_decision_ids_test_only: ['D-1003-T'],\n\n    state_table: 'wf47_polling_state_test',\n    test_only: true\n  }\n}];"},"id":"94be2062-c9b5-4173-be71-29c42ce6ff15","name":"Build getUpdates request from state","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1424,-64]},{"parameters":{"url":"https://api.telegram.org/bot__CONFIGURE_TELEGRAM_BOT_TOKEN_IN_N8N_UI_OR_CREDENTIAL__/getUpdates","sendQuery":true,"queryParameters":{"parameters":[{"name":"offset","value":"={{ $json.offset }}"},{"name":"limit","value":"={{ $json.limit }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"232dd2fa-ae6f-462d-8f07-e5ad7ef86401","name":"HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,-64]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Normalize — no raw chat_id/user_id/message body in output.\nconst build = $('Build getUpdates request from state').first().json;\nconst lastHandled = Number(build.last_handled_update_id || 0);\nconst resp = $input.item.json;\nconst body = resp && resp.body !== undefined ? resp.body : resp;\nconst results = body && Array.isArray(body.result) ? body.result : [];\nconst OPEN = build.open_decision_ids_test_only || ['D-9998-T'];\nconst items = [];\nfor (const u of results) {\n  const cq = u.callback_query || {};\n  const msg = cq.message || u.message || {};\n  const text = String(cq.data || msg.text || '').trim();\n  let inbound_kind = 'unknown';\n  if (text.startsWith('note:')) inbound_kind = 'note';\n  else if (text.startsWith('dp:')) inbound_kind = 'callback';\n  else if (/^[123]$/.test(text)) inbound_kind = 'plain_option';\n  const uid = u.update_id;\n  items.push({\n    update_id: uid,\n    inbound_kind,\n    inbound_text: text,\n    stale_update_id_guard: uid != null && uid <= lastHandled\n  });\n}\nreturn {\n  json: {\n    http_ok: body && body.ok === true,\n    result_count: results.length,\n    candidates: items,\n    open_decision_ids: OPEN,\n    last_handled_update_id: lastHandled,\n    handled_keys: build.handled_keys,\n    test_only: true\n  }\n};"},"id":"12163ece-8a81-4246-b88e-85268831c6ec","name":"Normalize Telegram updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,-64]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Allowed-chat — read Set node only (edit Set Wf47 UI config in n8n, not Code).\nconst d = $input.item.json;\nconst ui = $('Set Wf47 UI config').first().json;\nconst ALLOWED = String(ui.allowed_chat_id || '').trim();\nconst configured = ALLOWED.length > 0 && ALLOWED.indexOf('CONFIGURE') === -1 && ALLOWED.indexOf('**') === -1;\nreturn {\n  json: {\n    ...d,\n    allowed_chat_configured: configured,\n    chat_filter_ok: configured,\n    block_reason: configured ? null : 'allowed_chat_not_configured'\n  }\n};"},"id":"1c21d253-880d-49c4-aabc-c191c5358680","name":"Filter allowed chat placeholder","type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,-64]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parse Decision Packet — newest non-stale candidate.\nconst d = $input.item.json;\nconst OPEN = d.open_decision_ids || ['D-9998-T'];\nconst sorted = [...(d.candidates || [])].sort((a, b) => (b.update_id || 0) - (a.update_id || 0));\nlet best = null;\nfor (const c of sorted) {\n  if (c.stale_update_id_guard) continue;\n  let decision_id = null;\n  let selected_option = null;\n  let note_present = false;\n  if (c.inbound_kind === 'callback') {\n    const m = String(c.inbound_text).match(/^dp:(D-\\d{4}-[A-Z]):([123])$/);\n    if (m) { decision_id = m[1]; selected_option = m[2]; }\n  } else if (c.inbound_kind === 'plain_option' && OPEN.length === 1) {\n    decision_id = OPEN[0];\n    selected_option = c.inbound_text;\n  } else if (c.inbound_kind === 'note') {\n    const nm = String(c.inbound_text).match(/^note:(D-\\d{4}-[A-Z]):(.+)$/);\n    if (nm) {\n      decision_id = nm[1];\n      note_present = true;\n      selected_option = null;\n    }\n  }\n  if (decision_id) {\n    best = { update_id: c.update_id, inbound_kind: c.inbound_kind, decision_id, selected_option, note_present };\n    break;\n  }\n}\nreturn {\n  json: {\n    ...d,\n    parsed: best,\n    parse_ok: !!best\n  }\n};"},"id":"8d679144-0bb9-43db-89e0-660de8610269","name":"Parse Decision Packet response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-64]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Idempotency using Data Table state (not staticData).\nconst d = $input.item.json;\nconst build = $('Build getUpdates request from state').first().json;\nconst lastHandled = Number(build.last_handled_update_id || 0);\nlet handledKeys = {};\ntry {\n  const hk = build.handled_keys;\n  handledKeys = typeof hk === 'object' && hk ? { ...hk } : JSON.parse(String(hk || '{}'));\n} catch {\n  handledKeys = {};\n}\nconst p = d.parsed;\nlet status = 'blocked';\nlet duplicate_or_stale = false;\nlet block_reason = d.block_reason || 'no_matching_update';\nlet update_id = null;\nlet decision_id = null;\nlet selected_option = null;\nlet note_present = false;\nlet offset_after = Number(build.offset || 0);\nlet persist_state = null;\nif (!d.chat_filter_ok) {\n  block_reason = 'allowed_chat_not_configured';\n} else if (!p) {\n  block_reason = 'no_parseable_decision_response';\n} else {\n  update_id = p.update_id;\n  decision_id = p.decision_id;\n  selected_option = p.selected_option;\n  note_present = !!p.note_present;\n  const open = (d.open_decision_ids || []).includes(decision_id);\n  const slot = selected_option || (note_present ? 'note' : 'unknown');\n  const key = decision_id + ':' + slot + ':' + update_id;\n  if (update_id != null && update_id <= lastHandled) {\n    duplicate_or_stale = true;\n    block_reason = 'stale_old_update_id';\n  } else if (!open) {\n    duplicate_or_stale = true;\n    block_reason = 'stale_or_unknown_decision_id';\n  } else if (handledKeys[key]) {\n    duplicate_or_stale = true;\n    block_reason = 'duplicate_or_double_click';\n  } else if (p.inbound_kind === 'plain_option' || p.inbound_kind === 'callback') {\n    handledKeys[key] = new Date().toISOString();\n    offset_after = update_id + 1;\n    status = 'accepted';\n    block_reason = null;\n    persist_state = {\n      last_update_id: String(offset_after),\n      last_handled_update_id: String(update_id),\n      handled_keys_json: JSON.stringify(handledKeys)\n    };\n  } else if (note_present) {\n    status = 'note_placeholder';\n    block_reason = null;\n  }\n}\nreturn {\n  json: {\n    status,\n    decision_id,\n    selected_option,\n    update_id,\n    duplicate_or_stale,\n    note_present,\n    block_reason,\n    allowed_chat_configured: !!d.allowed_chat_configured,\n    offset_after_placeholder: offset_after,\n    last_handled_update_id: lastHandled,\n    persist_state,\n    test_only: true\n  }\n};"},"id":"fd380f8e-5086-4783-acf4-251384ba38fa","name":"Offset dedupe idempotency guard","type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,-64]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"wf47-if-accepted","leftValue":"={{ $json.status }}","rightValue":"accepted","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"9f41b5ab-991d-4f03-b038-cc2c3095f35d","name":"IF accepted persist state","type":"n8n-nodes-base.if","typeVersion":2,"position":[-80,-224]},{"parameters":{"jsCode":"// Emit 3 Data Table upsert rows for accepted path only.\nconst g = $('Offset dedupe idempotency guard').first().json;\nconst p = g.persist_state;\nif (!p) return [];\nconst note = 'wf47 polling state TEST ONLY';\nreturn [\n  { json: { state_key: 'last_update_id', state_value: p.last_update_id, note } },\n  { json: { state_key: 'last_handled_update_id', state_value: p.last_handled_update_id, note } },\n  { json: { state_key: 'handled_keys_json', state_value: p.handled_keys_json, note } }\n];"},"id":"cb89f5bc-192b-448d-8ff7-093fcd6ef76f","name":"Prepare Data Table state upserts","type":"n8n-nodes-base.code","typeVersion":2,"position":[144,-224]},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"mode":"name","value":"wf47_polling_state_test"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"key","keyValue":"={{ $json.state_key }}"}]},"columns":{"mappingMode":"defineBelow","value":{"key":"={{ $json.state_key }}","value":"={{ $json.state_value }}","updated_at":"={{ $now.toISO() }}","note":"={{ $json.note }}"}},"options":{}},"id":"3db71677-3700-4391-9231-bbacfa5bc1d7","name":"Data Table - Upsert wf47 state row","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[368,-224]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Sanitized receipt — no raw chat_id/user_id/token/message body.\nconst d = $('Offset dedupe idempotency guard').item.json;\nreturn {\n  json: {\n    inspect_status: d.status,\n    decision_id: d.decision_id,\n    selected_option: d.selected_option,\n    update_id: d.update_id,\n    duplicate_or_stale: d.duplicate_or_stale,\n    note_present: d.note_present,\n    block_reason: d.block_reason,\n    allowed_chat_configured: d.allowed_chat_configured,\n    offset_after_placeholder: d.offset_after_placeholder,\n    last_handled_update_id: d.last_handled_update_id,\n    test_only: true\n  }\n};"},"id":"fcdc8d1b-a156-413a-bf7f-07d7b3c8e789","name":"Build sanitized polling receipt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,48]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Read-only inspect — contract fields only.\nconst d = $input.item.json;\nreturn {\n  json: {\n    inspect_status: d.inspect_status,\n    decision_id: d.decision_id || null,\n    selected_option: d.selected_option || null,\n    update_id: d.update_id ?? null,\n    duplicate_or_stale: d.duplicate_or_stale || false,\n    note_present: d.note_present || false,\n    block_reason: d.block_reason || null,\n    allowed_chat_configured: d.allowed_chat_configured === true,\n    offset_after_placeholder: d.offset_after_placeholder ?? null,\n    last_handled_update_id: d.last_handled_update_id ?? null,\n    test_only: true\n  }\n};"},"id":"5a874847-ed50-45a4-ac5c-eb593af2d207","name":"Inspect polling result (read-only)","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,48]},{"parameters":{"content":"TABLE: wf47_polling_state_test\nRows: last_update_id | last_handled_update_id | handled_keys_json\nPattern from repo: workflows/42 + v4 multirepo draft (returnAll get, upsert by key).","height":120,"width":400},"id":"0f38dc6c-4e50-43f6-a731-8445416c2aef","name":"NOTE - offset store Data Table","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"wf47-if-handoff-on","leftValue":"={{ $('Set Wf47 UI config').first().json.enable_wg48_handoff }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}},{"id":"wf47-if-handoff-accepted","leftValue":"={{ $json.inspect_status }}","rightValue":"accepted","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"0d17440b-ec13-4949-8696-ead6d68fcd28","name":"IF Wg48 handoff enabled and accepted","type":"n8n-nodes-base.if","typeVersion":2,"position":[144,48]},{"parameters":{"workflowId":"iTXuuFbMLmc9sUdf","options":{}},"id":"78a20f48-6163-42dd-b0f3-a8ef91318129","name":"Execute Workflow - Wg48 TEST ONLY (CONFIGURE_IN_N8N_UI)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[368,-32]}],"pinData":{},"connections":{"Manual Trigger":{"main":[[{"node":"Set Wf47 UI config","type":"main","index":0}]]},"Schedule Trigger - TEST ONLY DISABLED":{"main":[[{"node":"Set Wf47 UI config","type":"main","index":0}]]},"Set Wf47 UI config":{"main":[[{"node":"Data Table - Load wf47 polling state","type":"main","index":0}]]},"Data Table - Load wf47 polling state":{"main":[[{"node":"Build getUpdates request from state","type":"main","index":0}]]},"Build getUpdates request from state":{"main":[[{"node":"HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)","type":"main","index":0}]]},"HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)":{"main":[[{"node":"Normalize Telegram updates","type":"main","index":0}]]},"Normalize Telegram updates":{"main":[[{"node":"Filter allowed chat placeholder","type":"main","index":0}]]},"Filter allowed chat placeholder":{"main":[[{"node":"Parse Decision Packet response","type":"main","index":0}]]},"Parse Decision Packet response":{"main":[[{"node":"Offset dedupe idempotency guard","type":"main","index":0}]]},"Offset dedupe idempotency guard":{"main":[[{"node":"IF accepted persist state","type":"main","index":0},{"node":"Build sanitized polling receipt","type":"main","index":0}]]},"IF accepted persist state":{"main":[[{"node":"Prepare Data Table state upserts","type":"main","index":0}]]},"Prepare Data Table state upserts":{"main":[[{"node":"Data Table - Upsert wf47 state row","type":"main","index":0}]]},"Build sanitized polling receipt":{"main":[[{"node":"IF Wg48 handoff enabled and accepted","type":"main","index":0}]]},"IF Wg48 handoff enabled and accepted":{"main":[[{"node":"Execute Workflow - Wg48 TEST ONLY (CONFIGURE_IN_N8N_UI)","type":"main","index":0}],[{"node":"Inspect polling result (read-only)","type":"main","index":0}]]},"Execute Workflow - Wg48 TEST ONLY (CONFIGURE_IN_N8N_UI)":{"main":[[{"node":"Inspect polling result (read-only)","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"},"versionId":"bea27dab-11af-4437-ab2f-dd5407c2f448","meta":{"instanceId":"0319381fab885f639cbac060718f520c2525cb985f8057b47d0fc6aff7016641"},"id":"Eji0CAz9CzUSSl1E","tags":[{"updatedAt":"2026-05-31T07:40:00.555Z","createdAt":"2026-05-31T07:40:00.555Z","id":"2ndRxepY0wUwqghS","name":"wf-telegram-polling"},{"updatedAt":"2026-05-26T22:14:40.760Z","createdAt":"2026-05-26T22:14:40.760Z","id":"33r0BwuWZvfE9ANO","name":"template-only"},{"updatedAt":"2026-05-31T09:20:10.295Z","createdAt":"2026-05-31T09:20:10.295Z","id":"4I4rlC1Zg0vPU7Qo","name":"datatable-ready-import"},{"updatedAt":"2026-05-31T07:40:00.586Z","createdAt":"2026-05-31T07:40:00.586Z","id":"9LO3TEpRanCeTcFZ","name":"getUpdates"},{"updatedAt":"2026-05-20T00:52:54.133Z","createdAt":"2026-05-20T00:52:54.133Z","id":"LP84ub7M6cViHUPU","name":"control-plane"}]}