workflows/exports/2026-05-21_40-plan-watcher-dropin-candidate-gate-c-gate-d-file.redacted.json
{
  "name": "40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - GATE C+D+FILE CANDIDATE",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-40-cd",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2500,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-40-cd",
      "name": "Schedule Trigger - controlled polling",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2500,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "control_plane_state"
        },
        "returnAll": true
      },
      "id": "datatable-load-40-cd",
      "name": "Data Table - Load all state rows",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -2260,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const repos=[{ownerRepo:'mrhz1973/control-plane',stateKey:'github:mrhz1973/control-plane:last_commit_sha',sourceRepo:'mrhz1973/control-plane'},{ownerRepo:'mrhz1973/dev-method',stateKey:'github:mrhz1973/dev-method:last_commit_sha',sourceRepo:'mrhz1973/dev-method'},{ownerRepo:'mrhz1973/cursor-coordinate-converter',stateKey:'github:mrhz1973/cursor-coordinate-converter:last_commit_sha',sourceRepo:'mrhz1973/cursor-coordinate-converter'}];return repos.map(json=>({json}));"
      },
      "id": "emit-repos-40-cd",
      "name": "Emit watched repos (3)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2020,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.ownerRepo }}/commits?per_page=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "control-plane-n8n-40-gate-cd-candidate"
            }
          ]
        },
        "options": {}
      },
      "id": "github-latest-40-cd",
      "name": "GitHub - Fetch latest commit (per repo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1780,
        400
      ],
      "credentials": {
        "githubApi": {
          "id": "__REDACTED_N8N_CREDENTIAL_ID__",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const target=$('Emit watched repos (3)').item.json;const resp=$input.item.json;const commit=Array.isArray(resp)?resp[0]:resp;const sha=commit?.sha||'';const message=String(commit?.commit?.message||'no commit message').split('\\n')[0];return {json:{stateKey:target.stateKey,currentSha:sha,shortSha:sha?sha.substring(0,7):'',message,url:commit?.html_url||'',sourceRepo:target.sourceRepo,ownerRepo:target.ownerRepo}};"
      },
      "id": "prepare-commit-40-cd",
      "name": "Prepare latest commit event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1540,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items=$('Prepare latest commit event').all();const rows=$('Data Table - Load all state rows').all().map(i=>i.json);return items.map(item=>{const latest=item.json;const row=rows.find(r=>r.key===latest.stateKey);const previousSha=row?.value||'';return {json:{...latest,previousSha,isNew:Boolean(latest.currentSha&&latest.currentSha!==previousSha),hadStateRow:Boolean(row?.key)}}});"
      },
      "id": "dedupe-40-cd",
      "name": "Decide Data Table dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-new-40-cd",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new-40-cd",
      "name": "IF - New commit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1060,
        400
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "control_plane_state"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.stateKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $json.stateKey }}",
            "value": "={{ $json.currentSha }}",
            "updated_at": "={{ $now.toISO() }}",
            "note": "={{ 'Latest notified commit SHA for scheduled poll: ' + $json.sourceRepo }}"
          }
        },
        "options": {}
      },
      "id": "upsert-40-cd",
      "name": "Data Table - Upsert last seen commit",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -820,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const latest=$('Decide Data Table dedupe').item.json;const previous=latest.previousSha?latest.previousSha.substring(0,7):'none';return {json:{text:`CONTROL PLANE scheduled poll commit notification\\nRepo: ${latest.sourceRepo}\\nNew commit: ${latest.shortSha}\\nPrevious: ${previous}\\nMessage: ${latest.message}\\nURL: ${latest.url}`}};"
      },
      "id": "format-commit-tg-40-cd",
      "name": "Format Data Table Telegram message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "__CONFIGURE_CHAT_ID_IN_N8N_UI__",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "send-commit-tg-40-cd",
      "name": "Telegram - Send Data Table deduped message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -340,
        400
      ],
      "webhookId": "__REDACTED_WEBHOOK_ID__",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED_N8N_CREDENTIAL_ID__",
          "name": "CONTROL PLANE - Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {json:{status:'duplicate_skip',reason:'Latest commit already stored in control_plane_state for this repo key',stateKey:$json.stateKey,sourceRepo:$json.sourceRepo,currentSha:$json.currentSha,previousSha:$json.previousSha}};"
      },
      "id": "duplicate-40-cd",
      "name": "Duplicate skip - no Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "gis-branch-40-cd",
              "leftValue": "={{ $json.ownerRepo || $json.sourceRepo }}",
              "rightValue": "mrhz1973/cursor-coordinate-converter",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-gis-40-cd",
      "name": "IF - GIS repo for handoff?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -820,
        160
      ]
    },
    {
      "parameters": {
        "command": "mkdir -p /home/node/.n8n-files && node /files/handoff-runtime/dev-method/tools/handoff-generate.mjs --repo /files/handoff-runtime/cursor-coordinate-converter --method /files/handoff-runtime/dev-method --implementer cursor --out /home/node/.n8n-files/latest-gis-handoff.md --strict-format --require-ready && cat /home/node/.n8n-files/latest-gis-handoff.md"
      },
      "id": "handoff-command-40-cd",
      "name": "Execute Command - handoff dry-run",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -580,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;const stdout=String(item.stdout||item.data||item.output||'');const exitCode=item.exitCode??item.code??0;const file='/home/node/.n8n-files/latest-gis-handoff.md';const text=['CONTROL PLANE handoff','Prompt ready: '+(stdout.includes('Prompt ready: yes')?'yes':'see attachment'),'Target: cursor-coordinate-converter','Exit code: '+exitCode,'','Full prompt file: latest-gis-handoff.md','Path in n8n: '+file,'Prompt preview omitted intentionally. Full prompt is attached as a .md file.'].join('\\n');return [{json:{telegramText:text,fullPromptPath:file,attachedFileName:'latest-gis-handoff.md'}}];"
      },
      "id": "parse-handoff-40-cd",
      "name": "Parse handoff stdout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "__CONFIGURE_CHAT_ID_IN_N8N_UI__",
        "text": "={{ $json.telegramText }}",
        "additionalFields": {}
      },
      "id": "send-handoff-result-40-cd",
      "name": "Telegram - Send handoff result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -100,
        80
      ],
      "webhookId": "__REDACTED_WEBHOOK_ID__",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED_N8N_CREDENTIAL_ID__",
          "name": "CONTROL PLANE - Telegram Bot"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/latest-gis-handoff.md",
        "options": {}
      },
      "id": "read-file-40-cd",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -100,
        220
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "__CONFIGURE_CHAT_ID_IN_N8N_UI__",
        "binaryData": true,
        "additionalFields": {
          "caption": "CONTROL PLANE handoff file\nTarget: cursor-coordinate-converter\nFull prompt attached: latest-gis-handoff.md"
        }
      },
      "id": "send-handoff-file-40-cd",
      "name": "Telegram - Send handoff file",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        140,
        220
      ],
      "webhookId": "__REDACTED_WEBHOOK_ID__",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED_N8N_CREDENTIAL_ID__",
          "name": "CONTROL PLANE - Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const repo=String($json.ownerRepo||$json.sourceRepo||'').trim();return {json:{event:repo==='mrhz1973/control-plane'?'plan_branch_entered':'plan_branch_skipped',repo,stateKey:$json.stateKey,currentSha:$json.currentSha,shortSha:$json.shortSha,latestCommitUrl:$json.url,latestCommitMessage:$json.message,previousSha:$json.previousSha,gate:'C+D-dropin-candidate'}};"
      },
      "id": "plan-gate-stub-40-cd",
      "name": "Code - Plan watcher repo gate stub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        820
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo }}/commits/{{ $json.currentSha }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "control-plane-n8n-40-gate-cd-candidate"
            }
          ]
        },
        "options": {}
      },
      "id": "commit-details-40-cd",
      "name": "GitHub - Fetch commit details (plan files)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        820
      ],
      "credentials": {
        "githubApi": {
          "id": "__REDACTED_N8N_CREDENTIAL_ID__",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const commit=$input.first().json;const gate=$('Code - Plan watcher repo gate stub').first().json;const files=Array.isArray(commit.files)?commit.files:[];const planFiles=files.filter(f=>/^docs\\/plans\\/[^/]+\\.plan\\.md$/.test(String(f.filename||'')));if(!planFiles.length){return [{json:{event:'no_plan_detected',repo:gate.repo,commitSha:gate.currentSha,shortSha:gate.shortSha,changedFileCount:files.length,changedFiles:files.map(f=>f.filename).slice(0,30),gate:'C+D-dropin-candidate'}}];}return planFiles.map(f=>({json:{event:'plan_detected',repo:gate.repo,commitSha:gate.currentSha,shortSha:gate.shortSha,latestCommitUrl:gate.latestCommitUrl,latestCommitMessage:gate.latestCommitMessage,planPath:f.filename,fileStatus:f.status||'',additions:f.additions??null,deletions:f.deletions??null,changes:f.changes??null,gate:'C+D-dropin-candidate'}}));"
      },
      "id": "detect-plan-files-40-cd",
      "name": "Code - Detect real docs/plans plan files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-plan-detected-40-cd",
              "leftValue": "={{ $json.event }}",
              "rightValue": "plan_detected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-plan-detected-40-cd",
      "name": "IF - plan_detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -100,
        820
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const j=$json;\nconst localPlanPath='/home/node/.n8n-files/gate-d-plan.md';\nconst attachedFileName='gate-d-plan.md';\nconst lines=[\n'CONTROL PLANE plan_detected',\n`Repo: ${j.repo}`,\n`Plan: ${j.planPath}`,\n`Commit: ${j.shortSha}`,\n`Status: ${j.fileStatus}`,\n`Changes: +${j.additions ?? '?'} / -${j.deletions ?? '?'}`,\n'',\n`Message: ${j.latestCommitMessage || ''}`,\n`URL: https://github.com/${j.repo}/blob/${j.commitSha}/${j.planPath}`,\n''\n'Gate D LIVE. Review the plan in GitHub before execution.',\n'Plan file attachment follows on parallel branch.'\n];\nreturn {json:{text:lines.join('\\n'),event:j.event,planPath:j.planPath,repo:j.repo,commitSha:j.commitSha,shortSha:j.shortSha,localPlanPath,attachedFileName,rawPlanUrl:`https://raw.githubusercontent.com/${j.repo}/${j.commitSha}/${j.planPath}`}};"
      },
      "id": "format-gate-d-40-cdf",
      "name": "Format Gate D Telegram plan_detected message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        760
      ]
    },
    {
      "parameters": {
        "chatId": "__CONFIGURE_CHAT_ID_IN_N8N_UI__",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "send-gate-d-40-cd",
      "name": "Telegram - Send Gate D plan_detected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        380,
        760
      ],
      "webhookId": "__REDACTED_WEBHOOK_ID__",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED_N8N_CREDENTIAL_ID__",
          "name": "CONTROL PLANE - Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {json:{status:'gate_c_no_plan_detected',event:$json.event,repo:$json.repo,commitSha:$json.commitSha,shortSha:$json.shortSha,gate:'C+D-dropin-candidate',note:'No plan file in this commit; no Gate D Telegram sent.'}};"
      },
      "id": "no-plan-output-40-cd",
      "name": "Code - no_plan_detected output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        900
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.rawPlanUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/plain"
            },
            {
              "name": "User-Agent",
              "value": "control-plane-n8n-40-gate-cd-file-candidate"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-raw-plan-40-cdf",
      "name": "HTTP Request - Fetch raw Gate D plan file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        920
      ],
      "credentials": {
        "githubApi": {
          "id": "__REDACTED_N8N_CREDENTIAL_ID__",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fmt=$('Format Gate D Telegram plan_detected message').item.json;\nconst body=String($json.data ?? $json.body ?? $json ?? '');\nconst localPlanPath=fmt.localPlanPath || '/home/node/.n8n-files/gate-d-plan.md';\nconst attachedFileName=fmt.attachedFileName || 'gate-d-plan.md';\nconst buf=Buffer.from(body, 'utf8');\nreturn {\n  json: {\n    repo: fmt.repo,\n    planPath: fmt.planPath,\n    commitSha: fmt.commitSha,\n    shortSha: fmt.shortSha,\n    localPlanPath,\n    attachedFileName,\n    rawPlanUrl: fmt.rawPlanUrl,\n    planBytes: buf.length,\n  },\n  binary: {\n    data: {\n      data: buf.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: attachedFileName,\n    },\n  },\n};"
      },
      "id": "prepare-plan-file-40-cdf",
      "name": "Code - Prepare Gate D plan file for disk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        920
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.localPlanPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-plan-file-40-cdf",
      "name": "Read/Write Files from Disk - Gate D plan file write",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        860,
        920
      ]
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/gate-d-plan.md",
        "options": {}
      },
      "id": "read-plan-file-40-cdf",
      "name": "Read/Write Files from Disk - Gate D plan file",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1100,
        920
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "__CONFIGURE_CHAT_ID_IN_N8N_UI__",
        "binaryData": true,
        "additionalFields": {
          "caption": "=CONTROL PLANE Gate D plan file\nPlan: {{ $('Format Gate D Telegram plan_detected message').item.json.planPath }}\nCommit: {{ $('Format Gate D Telegram plan_detected message').item.json.shortSha }}"
        }
      },
      "id": "send-gate-d-plan-file-40-cdf",
      "name": "Telegram - Send Gate D plan file",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        920
      ],
      "webhookId": "__REDACTED_WEBHOOK_ID__",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED_N8N_CREDENTIAL_ID__",
          "name": "CONTROL PLANE - Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Data Table - Load all state rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - controlled polling": {
      "main": [
        [
          {
            "node": "Data Table - Load all state rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Table - Load all state rows": {
      "main": [
        [
          {
            "node": "Emit watched repos (3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit watched repos (3)": {
      "main": [
        [
          {
            "node": "GitHub - Fetch latest commit (per repo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Fetch latest commit (per repo)": {
      "main": [
        [
          {
            "node": "Prepare latest commit event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare latest commit event": {
      "main": [
        [
          {
            "node": "Decide Data Table dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Data Table dedupe": {
      "main": [
        [
          {
            "node": "IF - New commit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - New commit?": {
      "main": [
        [
          {
            "node": "IF - GIS repo for handoff?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Table - Upsert last seen commit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Plan watcher repo gate stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate skip - no Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - GIS repo for handoff?": {
      "main": [
        [
          {
            "node": "Execute Command - handoff dry-run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command - handoff dry-run": {
      "main": [
        [
          {
            "node": "Parse handoff stdout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse handoff stdout": {
      "main": [
        [
          {
            "node": "Telegram - Send handoff result",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Telegram - Send handoff file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Table - Upsert last seen commit": {
      "main": [
        [
          {
            "node": "Format Data Table Telegram message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data Table Telegram message": {
      "main": [
        [
          {
            "node": "Telegram - Send Data Table deduped message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Plan watcher repo gate stub": {
      "main": [
        [
          {
            "node": "GitHub - Fetch commit details (plan files)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Fetch commit details (plan files)": {
      "main": [
        [
          {
            "node": "Code - Detect real docs/plans plan files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Detect real docs/plans plan files": {
      "main": [
        [
          {
            "node": "IF - plan_detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - plan_detected?": {
      "main": [
        [
          {
            "node": "Format Gate D Telegram plan_detected message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - no_plan_detected output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Gate D Telegram plan_detected message": {
      "main": [
        [
          {
            "node": "Telegram - Send Gate D plan_detected",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Fetch raw Gate D plan file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Fetch raw Gate D plan file": {
      "main": [
        [
          {
            "node": "Code - Prepare Gate D plan file for disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Gate D plan file for disk": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk - Gate D plan file write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk - Gate D plan file write": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk - Gate D plan file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk - Gate D plan file": {
      "main": [
        [
          {
            "node": "Telegram - Send Gate D plan file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "__REDACTED_VERSION_ID__",
  "meta": {
    "status": "DRAFT / GATE C+D+FILE CANDIDATE / NOT ACTIVE / NOT IMPORTED",
    "runtimeNameCurrent": "40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - ACTIVE",
    "basedOn": "workflows/exports/2026-05-21_40-plan-watcher-dropin-candidate-gate-c-gate-d.redacted.json",
    "purpose": "Candidate preserving 40 Gate C+D branches and adding Telegram document attachment for detected docs/plans/*.plan.md files.",
    "rawGitHubUrl": "https://raw.githubusercontent.com/mrhz1973/control-plane/main/workflows/exports/2026-05-21_40-plan-watcher-dropin-candidate-gate-c-gate-d-file.redacted.json",
    "gateD": "wired after IF - plan_detected? true only",
    "activeFalse": true,
    "redaction": "no token, no real chat identifier, no credential id, no webhook URL",
    "importNote": "Import as separate workflow first. Configure Telegram chat IDs in n8n UI. Do not activate or replace production 40 until visually reviewed.",
    "gateDFile": "After plan_detected true: text Telegram + fetch raw plan markdown + write/read gate-d-plan.md + sendDocument",
    "localPlanPath": "/home/node/.n8n-files/gate-d-plan.md",
    "draftCreatedAt": "2026-05-21"
  },
  "id": "__REDACTED_WORKFLOW_ID__",
  "tags": [
    {
      "name": "not-imported"
    },
    {
      "name": "redacted"
    },
    {
      "name": "control-plane"
    },
    {
      "name": "pm-09-gate-d"
    },
    {
      "name": "dropin-candidate"
    },
    {
      "name": "40"
    },
    {
      "name": "gate-d-file"
    }
  ],
  "staticData": null
}
