workflows/exports/2026-05-21_40-plan-watcher-detect-plan-logic-test-safe.redacted.json
{"name":"40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - PLAN DETECT LOGIC TEST SAFE","nodes":[{"parameters":{},"id":"manual-trigger-plan-detect-logic-test-safe","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1600,320]},{"parameters":{"jsCode":"// PLAN DETECT LOGIC TEST-SAFE DRAFT.\n// No external calls. No write nodes. No message-send nodes.\nconst items = [\n  { repo: 'mrhz1973/control-plane', sourceRepo: 'mrhz1973/control-plane', changedFiles: ['docs/plans/2026-05-21_1500_control-plane_pm-09-gate-c.plan.md', 'docs/MVP_STATUS.md'], currentSha: 'synthetic-cp-plan-hit', shortSha: 'synthet' },\n  { repo: 'mrhz1973/dev-method', sourceRepo: 'mrhz1973/dev-method', changedFiles: ['README.md'], currentSha: 'synthetic-dev-no-plan', shortSha: 'synthet' },\n  { repo: 'mrhz1973/cursor-coordinate-converter', sourceRepo: 'mrhz1973/cursor-coordinate-converter', changedFiles: ['docs/example.md'], currentSha: 'synthetic-gis-no-plan', shortSha: 'synthet' }\n];\nreturn items.map((json) => ({ json }));"},"id":"emit-synthetic-changed-files","name":"Emit synthetic changed files","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"is-control-plane-repo","leftValue":"={{ $json.repo }}","rightValue":"mrhz1973/control-plane","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-control-plane-repo","name":"IF - Control-plane repo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,320]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const repo = String($json.repo || $json.sourceRepo || '').trim();\nreturn {\n  json: {\n    event: repo === 'mrhz1973/control-plane' ? 'plan_branch_entered' : 'plan_branch_skipped',\n    repo,\n    changedFiles: $json.changedFiles || [],\n    currentSha: $json.currentSha,\n    shortSha: $json.shortSha,\n    gate: 'C-plan-detect-logic-test-safe',\n    activeRuntimeTarget: '40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - ACTIVE',\n    noMessages: true,\n    noWrites: true\n  }\n};"},"id":"code-plan-watcher-repo-gate-stub","name":"Code - Plan watcher repo gate stub","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,240]},{"parameters":{"jsCode":"const inputItems = $input.all();\nconst output = [];\nfor (const item of inputItems) {\n  const files = Array.isArray(item.json.changedFiles) ? item.json.changedFiles : [];\n  const planFiles = files.filter((name) => /^docs\\/plans\\/[^/]+\\.plan\\.md$/.test(String(name)));\n  if (!planFiles.length) {\n    output.push({ json: { event: 'no_plan_detected', repo: item.json.repo, changedFiles: files, gate: 'C-plan-detect-logic-test-safe', noMessages: true, noWrites: true } });\n  } else {\n    for (const planPath of planFiles) {\n      output.push({ json: { event: 'plan_detected', repo: item.json.repo, planPath, currentSha: item.json.currentSha, shortSha: item.json.shortSha, gate: 'C-plan-detect-logic-test-safe', nextGate: 'Gate D message delivery not authorized', noMessages: true, noWrites: true } });\n    }\n  }\n}\nreturn output;"},"id":"code-detect-docs-plans-files","name":"Code - Detect docs/plans plan files","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,240]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: {\n    event: 'non_control_plane_repo_skipped',\n    repo: $json.repo,\n    changedFiles: $json.changedFiles || [],\n    gate: 'C-plan-detect-logic-test-safe',\n    noMessages: true,\n    noWrites: true\n  }\n};"},"id":"duplicate-skip-no-telegram","name":"Duplicate skip - no Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,440]}],"pinData":{},"connections":{"Manual Trigger":{"main":[[{"node":"Emit synthetic changed files","type":"main","index":0}]]},"Emit synthetic changed files":{"main":[[{"node":"IF - Control-plane repo?","type":"main","index":0}]]},"IF - Control-plane repo?":{"main":[[{"node":"Code - Plan watcher repo gate stub","type":"main","index":0}],[{"node":"Duplicate skip - no Telegram","type":"main","index":0}]]},"Code - Plan watcher repo gate stub":{"main":[[{"node":"Code - Detect docs/plans plan files","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"},"versionId":"__REDACTED_VERSION_ID__","meta":{"status":"DRAFT / LOGIC TEST SAFE / NOT ACTIVE / NOT IMPORTED","runtimeNameCurrent":"40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - ACTIVE","purpose":"PM-09 Gate C logic test for docs/plans/*.plan.md detection","rawGitHubUrl":"https://raw.githubusercontent.com/mrhz1973/control-plane/main/workflows/exports/2026-05-21_40-plan-watcher-detect-plan-logic-test-safe.redacted.json","behavior":"Synthetic changed file list includes one control-plane plan file so Code - Detect docs/plans plan files should emit plan_detected once.","noExternalCalls":true,"noMessages":true,"noWrites":true,"draftCreatedAt":"2026-05-21"},"id":"__REDACTED_WORKFLOW_ID__","tags":[{"name":"not-imported"},{"name":"redacted"},{"name":"control-plane"},{"name":"v4"},{"name":"draft"},{"name":"pm-09-gate-c"},{"name":"test-safe"},{"name":"plan-detection"},{"name":"40"}],"staticData":null}