workflows/exports/2026-05-21_55-gate-d-plan-detected-telegram-test-safe.redacted.json
{"name":"55 - CP plan detected Telegram Gate D TEST SAFE","nodes":[{"parameters":{},"id":"manual-trigger-gate-d-test-safe","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-900,300]},{"parameters":{"jsCode":"return [{ json: { event: 'plan_detected', repo: 'mrhz1973/control-plane', planPath: 'docs/plans/2026-05-21_1500_control-plane_pm-09-gate-d.plan.md', commitSha: 'synthetic-gate-d-test', shortSha: 'synthet', task: 'PM-09 Gate D Telegram test', risk: 'low', mode: 'plan', model: 'Composer 2.5', effort: 'Fast', nextStep: 'Review the plan in GitHub and decide whether to execute it.', requiresRuntime: 'yes', requiresHumanGate: 'yes', targetWindow: 'CONTROL PLANE arancione', summary: 'Gate D synthetic plan_detected Telegram payload test.', githubFileUrl: 'https://github.com/mrhz1973/control-plane/blob/main/docs/plans/2026-05-21_1500_control-plane_pm-09-gate-d.plan.md', testSafe: true } }];"},"id":"emit-synthetic-plan-detected","name":"Emit synthetic plan_detected","type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const j = $json;\nconst lines = [\n  'CONTROL PLANE plan_detected',\n  `Repo: ${j.repo}`,\n  `Plan: ${j.planPath}`,\n  `Task: ${j.task}`,\n  `Mode/Model: ${j.mode} / ${j.model}`,\n  `Effort: ${j.effort}`,\n  `Risk: ${j.risk}`,\n  `Runtime: ${j.requiresRuntime}`,\n  `Human gate: ${j.requiresHumanGate}`,\n  `Window: ${j.targetWindow}`,\n  '',\n  `Summary: ${j.summary}`,\n  `Next: ${j.nextStep}`,\n  '',\n  `Commit: ${j.shortSha}`,\n  `URL: ${j.githubFileUrl}`,\n  '',\n  'Gate D TEST SAFE. Synthetic payload. Does not touch 40 ACTIVE.'\n];\nreturn { json: { text: lines.join('\\n'), event: j.event, testSafe: true } };"},"id":"format-gate-d-telegram-message","name":"Format Gate D Telegram message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,300]},{"parameters":{"chatId":"__CONFIGURE_CHAT_ID_IN_N8N_UI__","text":"={{ $json.text }}","additionalFields":{}},"id":"telegram-send-gate-d-plan-detected","name":"Telegram - Send Gate D plan_detected test","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-180,300],"webhookId":"__REDACTED_WEBHOOK_ID__","credentials":{"telegramApi":{"id":"__REDACTED_N8N_CREDENTIAL_ID__","name":"CONTROL PLANE - Telegram Bot"}}}],"pinData":{},"connections":{"Manual Trigger":{"main":[[{"node":"Emit synthetic plan_detected","type":"main","index":0}]]},"Emit synthetic plan_detected":{"main":[[{"node":"Format Gate D Telegram message","type":"main","index":0}]]},"Format Gate D Telegram message":{"main":[[{"node":"Telegram - Send Gate D plan_detected test","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"__REDACTED_VERSION_ID__","meta":{"status":"DRAFT / GATE D TEST SAFE / NOT ACTIVE / NOT IMPORTED","purpose":"PM-09 Gate D isolated Telegram payload test for synthetic plan_detected event","rawGitHubUrl":"https://raw.githubusercontent.com/mrhz1973/control-plane/main/workflows/exports/2026-05-21_55-gate-d-plan-detected-telegram-test-safe.redacted.json","runtimeTarget":"separate 55 test workflow, not 40 ACTIVE","noGitHubWrites":true,"noDataTableWrites":true,"no40Change":true,"manualOnly":true,"activeFalse":true},"id":"__REDACTED_WORKFLOW_ID__","tags":[{"name":"not-imported"},{"name":"redacted"},{"name":"control-plane"},{"name":"pm-09-gate-d"},{"name":"telegram"},{"name":"test-safe"},{"name":"55"}],"staticData":null}