workflows/exports/2026-06-06_d0025l-live-classifier-mapping-preview-test-safe.redacted.json
{
  "name": "56 - D-0025-L Live classifier mapping preview TEST SAFE",
  "nodes": [
    {
      "parameters": {},
      "id": "d25l000001-0001-4001-8001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1080,
        300
      ]
    },
    {
      "parameters": {
        "content": "D-0025-L TEST SAFE — inactive, manual, live classifier + Decision Packet preview only.\n\nConfigure in n8n UI before run:\n1) Replace **CONFIGURE_CLASSIFIER_CLASSIFY_URL_IN_N8N_UI** with classifier POST /classify URL\n2) Replace **CONFIGURE_CLASSIFIER_TOKEN_IN_N8N_UI** with X-Classifier-Token value\n3) Keep workflow INACTIVE — Manual Trigger only\n\nNo Telegram, no webhook, no schedule, no Funnel, no Data Table, no GitHub write, no wf40/41/42 mutation, no PM-34 unlock.\n\nChain: Manual Trigger -> Build classifier test event -> HTTP POST classify -> Validate fail-closed -> Build Decision Packet preview -> Inspect preview output.",
        "height": 320,
        "width": 560
      },
      "id": "d25l000007-0007-4007-8007-000000000007",
      "name": "NOTE - D-0025-L test safe live preview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1160,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// D-0025-L sanitized classifier input event. Change selectedEvent to switch test events.\nconst selectedEvent = 'manual_safe';\n\nconst events = {\n  manual_safe: {\n    event_id: '<EVENT_ID>',\n    event_type: 'manual_runtime_test',\n    summary: 'D-0025-L manual test-safe live classifier to Decision Packet preview, no deploy, no secrets, no Telegram, no workflow mutation, no automation loop.',\n    touched_paths: [\n      'docs/contracts/decision-packet-mapping-v1.md',\n      'workflows/exports/2026-06-06_d0025l-live-classifier-mapping-preview-test-safe.redacted.json'\n    ],\n    runtime_flags: { manual_runtime_test: true, no_production_mutation: true, touched: true, detail: 'D-0025-L manual test only' },\n    secrets_flags: { touched: false, detail: '' },\n    deploy_flags: { touched: false, detail: '' },\n    n8n_flags: {\n      workflow_40_mutation: false,\n      workflow_41_mutation: false,\n      workflow_42_mutation: false,\n      workflow_49_used: false,\n      test_workflow_id: 56,\n      touched: true,\n      detail: 'test workflow 56 only'\n    },\n    automation_flags: { autonomous_worker: false, permanent_loop: false, touched: false, detail: '' }\n  }\n};\n\nconst event = events[selectedEvent] || events.manual_safe;\nconst event_context = {\n  event_id: '<EVENT_ID>',\n  source_repo: '<REPO>',\n  source_commit: '<COMMIT_SHA>',\n  source_workflow: '<WORKFLOW_ID>',\n  summary: event.summary,\n  test_id: selectedEvent\n};\n\nreturn [{\n  json: {\n    ...event,\n    selectedEvent,\n    event_context,\n    test_id: selectedEvent,\n    test_only: true,\n    manual_only: true,\n    no_permanent_automation: true\n  }\n}];"
      },
      "id": "d25l000002-0002-4002-8002-000000000002",
      "name": "Build classifier test event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "**CONFIGURE_CLASSIFIER_CLASSIFY_URL_IN_N8N_UI**",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Classifier-Token",
              "value": "**CONFIGURE_CLASSIFIER_TOKEN_IN_N8N_UI**"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "d25l000003-0003-4003-8003-000000000003",
      "name": "HTTP Request - POST classify (CONFIGURE_IN_N8N_UI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Validate live classifier HTTP response; fail-closed per mapping contract.\nconst ALLOWED_ROUTES = ['auto_allowed', 'human_gate', 'blocked'];\nconst ALLOWED_RISK = ['low', 'medium', 'high'];\nconst ALLOWED_CONF = ['low', 'medium', 'high'];\n\nfunction isValidClassifier(c) {\n  if (!c || typeof c !== 'object' || Array.isArray(c)) return false;\n  const req = ['risk', 'route', 'reason', 'confidence', 'requires_human'];\n  for (const k of req) {\n    if (!Object.prototype.hasOwnProperty.call(c, k)) return false;\n  }\n  if (!ALLOWED_ROUTES.includes(String(c.route))) return false;\n  if (!ALLOWED_RISK.includes(String(c.risk))) return false;\n  if (!ALLOWED_CONF.includes(String(c.confidence))) return false;\n  if (typeof c.reason !== 'string' || c.reason.length === 0) return false;\n  if (typeof c.requires_human !== 'boolean') return false;\n  return true;\n}\n\nfunction failClosed(reason) {\n  return {\n    risk: 'high',\n    route: 'human_gate',\n    requires_human: true,\n    confidence: 'low',\n    reason: reason || 'fallback:live_classifier_mapping_preview_invalid_or_unavailable'\n  };\n}\n\nconst prior = $('Build classifier test event').first().json;\nconst event_context = prior.event_context || {\n  event_id: '<EVENT_ID>',\n  source_repo: '<REPO>',\n  source_commit: '<COMMIT_SHA>',\n  source_workflow: '<WORKFLOW_ID>',\n  summary: prior.summary || 'D-0025-L manual test',\n  test_id: prior.test_id || 'manual_safe'\n};\n\nconst resp = $input.item.json;\nlet body = null;\nlet httpOk = false;\n\nif (resp && resp.body !== undefined) {\n  body = resp.body;\n  const sc = resp.statusCode;\n  httpOk = sc === 200 || sc === '200';\n} else if (resp && typeof resp === 'object') {\n  body = resp;\n  httpOk = true;\n}\n\nif (typeof body === 'string') {\n  try { body = JSON.parse(body); } catch (e) { body = null; }\n}\n\nlet synthesized = false;\nlet c;\n\nif (!httpOk || !isValidClassifier(body)) {\n  c = failClosed('fallback:live_classifier_mapping_preview_invalid_or_unavailable');\n  synthesized = true;\n} else {\n  c = { ...body };\n}\n\nreturn {\n  json: {\n    test_id: event_context.test_id || prior.test_id || 'manual_safe',\n    classifier_output: c,\n    effective_classifier: c,\n    fail_closed_synthesized: synthesized,\n    event_context,\n    http_valid: httpOk && !synthesized,\n    test_only: true,\n    manual_only: true,\n    no_permanent_automation: true\n  }\n};"
      },
      "id": "d25l000004-0004-4004-8004-000000000004",
      "name": "Validate classifier response fail-closed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build Decision Packet preview per docs/contracts/decision-packet-mapping-v1.md\nconst ALLOWED_ROUTES = ['auto_allowed', 'human_gate', 'blocked'];\nconst ALLOWED_RISK = ['low', 'medium', 'high'];\nconst ALLOWED_CONF = ['low', 'medium', 'high'];\n\nfunction isValidClassifier(c) {\n  if (!c || typeof c !== 'object' || Array.isArray(c)) return false;\n  const req = ['risk', 'route', 'reason', 'confidence', 'requires_human'];\n  for (const k of req) {\n    if (!Object.prototype.hasOwnProperty.call(c, k)) return false;\n  }\n  if (!ALLOWED_ROUTES.includes(String(c.route))) return false;\n  if (!ALLOWED_RISK.includes(String(c.risk))) return false;\n  if (!ALLOWED_CONF.includes(String(c.confidence))) return false;\n  if (typeof c.reason !== 'string' || c.reason.length === 0) return false;\n  if (typeof c.requires_human !== 'boolean') return false;\n  return true;\n}\n\nfunction failClosed(reason) {\n  return {\n    risk: 'high',\n    route: 'human_gate',\n    requires_human: true,\n    confidence: 'low',\n    reason: reason || 'fallback:live_classifier_mapping_preview_invalid_or_unavailable'\n  };\n}\n\nfunction buildOptions() {\n  return [\n    '1 — Do not proceed; keep manual mode',\n    '2 — Review manually and decide the next bounded step',\n    '3 — Authorize a supervised, scope-limited next step'\n  ];\n}\n\nfunction recommendationFor(route) {\n  if (route === 'blocked') {\n    return 'Raccomandazione: 1 — Do not proceed; keep manual mode unless explicit override context exists.';\n  }\n  return 'Raccomandazione: 2 — Review manually and decide the next bounded step.';\n}\n\nfunction perché(route, c) {\n  if (route === 'blocked') {\n    return 'Classifier route is blocked — do not proceed without explicit human override.';\n  }\n  if (c.confidence === 'low') {\n    return 'Classifier confidence is low — fail-closed human review required.';\n  }\n  if (c.risk === 'high') {\n    return 'Classifier risk is high — human review required before any proceed.';\n  }\n  return 'Classifier requires human gate — no silent auto-proceed for this event context.';\n}\n\nfunction buildPacket(c, eventCtx, testId) {\n  const provenance = [\n    'event_id=' + eventCtx.event_id,\n    'repo=' + eventCtx.source_repo,\n    'commit=' + eventCtx.source_commit,\n    'source=' + eventCtx.source_workflow,\n    'test=' + testId\n  ].join('; ');\n  return {\n    ID: 'D-0025-L-T',\n    Kind: 'runtime',\n    Contesto: 'Live classifier test \"' + testId + '\": ' + eventCtx.summary + ' Classifier route ' + c.route + '; risk ' + c.risk + '.',\n    'Perché serve decisione': perché(c.route, c),\n    Opzioni: buildOptions(),\n    Raccomandazione: recommendationFor(c.route),\n    'Rischio principale': 'Proceeding without human boundary check may expand scope or touch forbidden runtime despite ' + c.risk + ' risk signal.',\n    'Micro-interazioni eliminate': 'Manual copy/paste of live classifier JSON into Decision Packet shape.',\n    'Scelta richiesta': 'Scrivi: 1 / 2 / 3',\n    'Cosa NON viene fatto': 'No runtime, no Telegram send, no workflow mutation, no PM-34 unlock, no deploy/rollback, no secrets written, no automatic loop.',\n    'Riferimento evento / provenienza': provenance,\n    Risk: c.risk,\n    Route: c.route,\n    requires_human: c.requires_human,\n    Confidence: c.confidence,\n    'Classifier reason': c.reason\n  };\n}\n\nconst inp = $input.item.json;\nlet raw = inp.classifier_output;\nlet synthesized = inp.fail_closed_synthesized === true;\nlet c;\n\nif (!isValidClassifier(raw)) {\n  c = failClosed('fallback:live_classifier_mapping_preview_invalid_or_unavailable');\n  synthesized = true;\n} else {\n  c = { ...raw };\n}\n\nconst noPacketEligible =\n  !synthesized &&\n  c.route === 'auto_allowed' &&\n  c.requires_human === false &&\n  c.confidence !== 'low' &&\n  c.risk !== 'high';\n\nif (noPacketEligible) {\n  return {\n    json: {\n      test_id: inp.test_id,\n      preview_status: 'NO_PACKET_NO_ACTION',\n      packet_present: false,\n      packet: null,\n      effective_classifier: c,\n      fail_closed_synthesized: false,\n      event_context: inp.event_context,\n      test_only: true,\n      manual_only: true,\n      no_permanent_automation: true\n    }\n  };\n}\n\nlet packetClassifier = { ...c };\nif (c.confidence === 'low' || c.requires_human === true || c.risk === 'high') {\n  if (c.route !== 'blocked') {\n    packetClassifier.route = 'human_gate';\n  }\n}\nif (synthesized) {\n  packetClassifier = { ...c };\n}\nif (packetClassifier.route === 'auto_allowed') {\n  packetClassifier.route = 'human_gate';\n}\n\nconst packet = buildPacket(packetClassifier, inp.event_context, inp.test_id);\n\nreturn {\n  json: {\n    test_id: inp.test_id,\n    preview_status: 'PACKET_PREVIEW',\n    packet_present: true,\n    packet,\n    effective_classifier: packetClassifier,\n    fail_closed_synthesized: synthesized,\n    event_context: inp.event_context,\n    test_only: true,\n    manual_only: true,\n    no_permanent_automation: true\n  }\n};"
      },
      "id": "d25l000005-0005-4005-8005-000000000005",
      "name": "Build Decision Packet preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Read-only inspect / normalize live mapping preview output\nconst d = $input.item.json;\nconst ALLOWED = ['auto_allowed', 'human_gate', 'blocked'];\n\nfunction routeCheck() {\n  if (d.packet_present && d.packet && d.packet.Route) {\n    return ALLOWED.includes(String(d.packet.Route));\n  }\n  if (d.effective_classifier && d.effective_classifier.route) {\n    if (d.preview_status === 'NO_PACKET_NO_ACTION') {\n      return d.effective_classifier.route === 'auto_allowed';\n    }\n    return ALLOWED.includes(String(d.effective_classifier.route));\n  }\n  return false;\n}\n\nreturn {\n  json: {\n    test_id: d.test_id,\n    preview_status: d.preview_status,\n    packet_present: d.packet_present,\n    packet: d.packet,\n    effective_classifier: d.effective_classifier,\n    fail_closed_synthesized: d.fail_closed_synthesized === true,\n    checks: {\n      route_in_allowed_set: routeCheck(),\n      no_send_performed: true,\n      no_secret_placeholders_only: true,\n      live_classifier_called_by_http_node_expected: true,\n      no_telegram_node_expected: true,\n      no_webhook_expected: true,\n      no_schedule_expected: true,\n      manual_only: true,\n      no_permanent_automation: true\n    },\n    test_only: true,\n    manual_only: true,\n    no_permanent_automation: true\n  }\n};"
      },
      "id": "d25l000006-0006-4006-8006-000000000006",
      "name": "Inspect preview output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build classifier test event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build classifier test event": {
      "main": [
        [
          {
            "node": "HTTP Request - POST classify (CONFIGURE_IN_N8N_UI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - POST classify (CONFIGURE_IN_N8N_UI)": {
      "main": [
        [
          {
            "node": "Validate classifier response fail-closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate classifier response fail-closed": {
      "main": [
        [
          {
            "node": "Build Decision Packet preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Decision Packet preview": {
      "main": [
        [
          {
            "node": "Inspect preview output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "__REDACTED_VERSION_ID__",
  "meta": {
    "status": "DRAFT / D-0025-L TEST SAFE / NOT ACTIVE / NOT IMPORTED BY CURSOR",
    "purpose": "Live classifier output to Decision Packet mapping preview test",
    "rawGitHubUrl": "https://raw.githubusercontent.com/mrhz1973/control-plane/main/workflows/exports/2026-06-06_d0025l-live-classifier-mapping-preview-test-safe.redacted.json",
    "runtimeTarget": "separate 56 test workflow; manual import/run pending; not wf40/41/42",
    "noGitHubWrites": true,
    "noDataTableWrites": true,
    "no40Change": true,
    "manualOnly": true,
    "activeFalse": true,
    "liveClassifierPreviewOnly": true,
    "noTelegram": true,
    "noPermanentAutomation": true
  },
  "id": "__REDACTED_WORKFLOW_ID__",
  "tags": [
    {
      "name": "not-imported"
    },
    {
      "name": "redacted"
    },
    {
      "name": "control-plane"
    },
    {
      "name": "d-0025-l"
    },
    {
      "name": "live-classifier"
    },
    {
      "name": "decision-packet"
    },
    {
      "name": "mapping-preview"
    },
    {
      "name": "test-safe"
    },
    {
      "name": "56"
    }
  ],
  "staticData": null
}
