workflows/exports/2026-05-21_40-plan-watcher-branch-hit-test-safe.redacted.json
{"name":"40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - PLAN WATCHER BRANCH-HIT TEST SAFE","nodes":[{"parameters":{},"id":"dc4cdb97-2f3c-4e17-aee1-c4f43235c568","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2464,272]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"a21d7572-7eb3-494d-b3f3-2fafe4196aab","name":"Schedule Trigger - controlled polling","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2464,464]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"control_plane_state"},"returnAll":true},"id":"7aa0f03f-ccac-444b-8547-d348755a8717","name":"Data Table - Load all state rows","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-2240,368],"alwaysOutputData":true},{"parameters":{"jsCode":"// BRANCH-HIT TEST-SAFE DRAFT — emits repo targets only; no Telegram, no write nodes.\nconst repos = [\n  { ownerRepo: 'mrhz1973/control-plane', stateKey: 'github:mrhz1973/control-plane:last_commit_sha', sourceRepo: 'mrhz1973/control-plane' },\n  { ownerRepo: 'mrhz1973/dev-method', stateKey: 'github:mrhz1973/dev-method:last_commit_sha', sourceRepo: 'mrhz1973/dev-method' },\n  { ownerRepo: 'mrhz1973/cursor-coordinate-converter', stateKey: 'github:mrhz1973/cursor-coordinate-converter:last_commit_sha', sourceRepo: 'mrhz1973/cursor-coordinate-converter' }\n];\nreturn repos.map((r) => ({ json: r }));"},"id":"4af9dae6-a34b-4213-b2e8-a00e040332f4","name":"Emit watched repos (3)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,368]},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.ownerRepo }}/commits?per_page=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github+json"},{"name":"User-Agent","value":"control-plane-n8n-40-plan-watcher-branch-hit-test-safe"}]},"options":{}},"id":"4812e0be-6d3c-4838-952c-b9ebf93ee862","name":"GitHub - Fetch latest commit (per repo)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1792,368],"credentials":{"githubApi":{"id":"__REDACTED_N8N_CREDENTIAL_ID__","name":"GitHub account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Pair by item index: Emit (3) + HTTP response for same repo.\nconst target = $('Emit watched repos (3)').item.json;\nconst resp = $input.item.json;\nconst commit = Array.isArray(resp) ? resp[0] : resp;\nconst sha = commit?.sha || '';\nconst rawMessage = commit?.commit?.message || 'no commit message';\nconst message = rawMessage.split('\\n')[0];\nconst url = commit?.html_url || 'no URL';\nreturn {\n  json: {\n    stateKey: target.stateKey,\n    currentSha: sha,\n    shortSha: sha ? sha.substring(0, 7) : '',\n    message,\n    url,\n    sourceRepo: target.sourceRepo,\n    ownerRepo: target.ownerRepo\n  }\n};"},"id":"c5af188a-379c-43bb-b17c-9070df9c863d","name":"Prepare latest commit event","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,368]},{"parameters":{"jsCode":"// Branch-hit test-safe dedupe decision: forces only mrhz1973/control-plane into true branch.\n// This does NOT write Data Table, does NOT send Telegram, and does NOT create a real commit.\nconst prepareItems = $('Prepare latest commit event').all();\nconst stateRows = $('Data Table - Load all state rows').all().map((entry) => entry.json);\nreturn prepareItems.map((item) => {\n  const latest = item.json;\n  const row = stateRows.find((r) => r.key === latest.stateKey);\n  const storedValue = row?.value || '';\n  const wouldBeNew = Boolean(latest.currentSha && latest.currentSha !== storedValue);\n  const forceBranchHit = latest.sourceRepo === 'mrhz1973/control-plane';\n  const isNew = forceBranchHit;\n  return {\n    json: {\n      ...latest,\n      previousSha: storedValue || '',\n      isNew,\n      wouldBeNew,\n      forceBranchHit,\n      hadStateRow: Boolean(row?.key),\n      testSafe: true,\n      branchHitTest: true,\n      noWrites: true,\n      noTelegram: true\n    }\n  };\n});"},"id":"31e8d5a4-8dec-40a8-8b3c-0d1f0b98ce47","name":"Decide Data Table dedupe - force CP branch hit","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,368]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"is-new-commit-condition-branch-hit-test-safe","leftValue":"={{ $json.isNew }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e5c3b3b6-66c3-4a0d-bf62-1ff73d83adbb","name":"IF - New commit?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,368]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// PM-09 Gate C branch-hit test-safe stub — no Telegram, no file writes, no Data Table writes.\nconst repo = String($json.ownerRepo || $json.sourceRepo || '').trim();\nconst isControlPlane = repo === 'mrhz1973/control-plane';\nreturn {\n  json: {\n    event: isControlPlane ? 'plan_branch_entered' : 'plan_branch_skipped',\n    repo,\n    stateKey: $json.stateKey,\n    currentSha: $json.currentSha,\n    shortSha: $json.shortSha,\n    previousSha: $json.previousSha,\n    wouldBeNew: $json.wouldBeNew,\n    forceBranchHit: $json.forceBranchHit,\n    hadStateRow: $json.hadStateRow,\n    message: 'PM-09 plan watcher repo gate stub — branch-hit test-safe, Gate D not wired',\n    gate: 'C-branch-hit-test-safe',\n    activeRuntimeTarget: '40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - ACTIVE',\n    noTelegram: true,\n    noWrites: true\n  }\n};"},"id":"b7e4a901-2c3d-4f5a-9b8e-planwatcherstub01","name":"Code - Plan watcher repo gate stub","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,272]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: {\n    status: 'duplicate_skip_or_non_cp_repo',\n    reason: 'Branch-hit test-safe draft routes non-control-plane repos to false branch',\n    stateKey: $json.stateKey,\n    sourceRepo: $json.sourceRepo,\n    currentSha: $json.currentSha,\n    previousSha: $json.previousSha,\n    wouldBeNew: $json.wouldBeNew,\n    forceBranchHit: $json.forceBranchHit,\n    testSafe: true,\n    branchHitTest: true,\n    noTelegram: true,\n    noWrites: true\n  }\n};"},"id":"ae8f9004-b0da-401a-8829-5bcdb5d2c79b","name":"Duplicate skip - no Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,560]}],"pinData":{},"connections":{"Manual Trigger":{"main":[[{"node":"Data Table - Load all state rows","type":"main","index":0}]]},"Schedule Trigger - controlled polling":{"main":[[{"node":"Data Table - Load all state rows","type":"main","index":0}]]},"Data Table - Load all state rows":{"main":[[{"node":"Emit watched repos (3)","type":"main","index":0}]]},"Emit watched repos (3)":{"main":[[{"node":"GitHub - Fetch latest commit (per repo)","type":"main","index":0}]]},"GitHub - Fetch latest commit (per repo)":{"main":[[{"node":"Prepare latest commit event","type":"main","index":0}]]},"Prepare latest commit event":{"main":[[{"node":"Decide Data Table dedupe - force CP branch hit","type":"main","index":0}]]},"Decide Data Table dedupe - force CP branch hit":{"main":[[{"node":"IF - New commit?","type":"main","index":0}]]},"IF - New commit?":{"main":[[{"node":"Code - Plan watcher repo gate stub","type":"main","index":0}],[{"node":"Duplicate skip - no Telegram","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"},"versionId":"__REDACTED_VERSION_ID__","meta":{"status":"DRAFT / BRANCH-HIT TEST SAFE / NOT ACTIVE / NOT IMPORTED","runtimeNameCurrent":"40 - CP v4 multirepo polling - FILE HANDOFF SAFE TEXT - ACTIVE","basedOn":"workflows/exports/2026-05-21_40-plan-watcher-first-if-test-safe.redacted.json","purpose":"PM-09 Gate C branch-hit test-safe import candidate","branchHitBehavior":"Forces only mrhz1973/control-plane to IF true branch so Code - Plan watcher repo gate stub executes without a real GitHub commit.","telegramRemovedOrDisabled":true,"gateD":"not authorized","noRuntime":"file-only draft","noTelegramNodes":"All Telegram nodes removed; no chat identifier, Telegram credential, or webhook identifier present.","noWriteNodes":"Commit notify Data Table upsert, Execute Command handoff, Read/Write file, and Telegram branches are removed.","rawGitHubUrl":"https://raw.githubusercontent.com/mrhz1973/control-plane/main/workflows/exports/2026-05-21_40-plan-watcher-branch-hit-test-safe.redacted.json","importNote":"Import/review in n8n is a separate manual gate; do not activate; execute only via Manual Trigger after visual review.","redaction":"no token, no chat identifier, no Telegram credential identifier, no webhook URL","draftCreatedAt":"2026-05-21","nodeAdded":"Code - Plan watcher repo gate stub","nodeAddedReason":"Code stub preferred over IF for import-safe JSON; branch-hit draft forces CP item true to test it.","removedForTestSafety":["Telegram nodes","Execute Command handoff","Read/Write file","Data Table upsert","Format Telegram message","Parse handoff stdout","IF - GIS repo for handoff?"]},"id":"__REDACTED_WORKFLOW_ID__","tags":[{"name":"not-imported"},{"name":"github"},{"name":"multirepo"},{"name":"dedupe"},{"name":"redacted"},{"name":"control-plane"},{"name":"schedule-capable"},{"name":"datatable"},{"name":"v4"},{"name":"draft"},{"name":"plan-watcher-draft"},{"name":"pm-09-gate-c"},{"name":"test-safe"},{"name":"branch-hit"},{"name":"40"}],"staticData":null}