workflows/wf-telegram-inbound-polling-getupdates.template.json
{
  "name": "47 - Wf Telegram Inbound Polling getUpdates TEST ONLY - TEMPLATE",
  "nodes": [
    {
      "parameters": {},
      "id": "wf000001-0001-4001-8001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1320,
        200
      ]
    },
    {
      "parameters": {
        "content": "TEMPLATE ONLY — active=false. HARDENED PREP (no schedule).\n\nManual getUpdates only. Token/chat ONLY in n8n UI.\n\nPlaceholders (never real values in Git):\n- __CONFIGURE_TELEGRAM_BOT_TOKEN_IN_N8N_UI_OR_CREDENTIAL__\n- **CONFIGURE_ALLOWED_CHAT_ID_IN_N8N_UI** (defaults CLOSED until replaced)\n- **CONFIGURE_OFFSET_STORE_IN_N8N_UI**\n- **CONFIGURE_DECISION_STATE_STORE_IN_N8N_UI**\n\nGuards: allowed_chat_not_configured | stale_old_update_id | duplicate_or_double_click | stale_or_unknown_decision_id\n\nOpen decisions TEST ONLY: D-9998-T\n\ndeleteWebhook = separate runtime gate.",
        "height": 440,
        "width": 600
      },
      "id": "wf000011-0011-4011-8011-000000000011",
      "name": "NOTE - template polling not active",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1400,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build getUpdates request. OFFSET STORE — demo staticData; use CONFIGURE_OFFSET_STORE_IN_N8N_UI at live gate.\nconst store = $getWorkflowStaticData('global');\nif (store.lastUpdateId === undefined) store.lastUpdateId = 0;\nif (store.lastHandledUpdateId === undefined) store.lastHandledUpdateId = 0;\nif (!store.handledKeys) store.handledKeys = {};\nreturn [{\n  json: {\n    offset: store.lastUpdateId,\n    limit: 10,\n    last_handled_update_id_placeholder: store.lastHandledUpdateId,\n    allowed_chat_placeholder: '**CONFIGURE_ALLOWED_CHAT_ID_IN_N8N_UI**',\n    offset_store_placeholder: '**CONFIGURE_OFFSET_STORE_IN_N8N_UI**',\n    decision_state_store_placeholder: '**CONFIGURE_DECISION_STATE_STORE_IN_N8N_UI**',\n    open_decision_ids_test_only: ['D-9998-T'],\n    test_only: true\n  }\n}];"
      },
      "id": "wf000002-0002-4002-8002-000000000002",
      "name": "Build getUpdates request placeholder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/bot__CONFIGURE_TELEGRAM_BOT_TOKEN_IN_N8N_UI_OR_CREDENTIAL__/getUpdates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "={{ $json.offset }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wf000003-0003-4003-8003-000000000003",
      "name": "HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize getUpdates — no raw chat_id/user_id/message body in output.\nconst resp = $input.item.json;\nconst body = resp && resp.body !== undefined ? resp.body : resp;\nconst results = body && Array.isArray(body.result) ? body.result : [];\nconst OPEN = ['D-9998-T'];\nconst store = $getWorkflowStaticData('global');\nconst lastHandled = store.lastHandledUpdateId || 0;\nconst items = [];\nfor (const u of results) {\n  const cq = u.callback_query || {};\n  const msg = cq.message || u.message || {};\n  const text = String(cq.data || msg.text || '').trim();\n  let inbound_kind = 'unknown';\n  if (text.startsWith('note:')) inbound_kind = 'note';\n  else if (text.startsWith('dp:')) inbound_kind = 'callback';\n  else if (/^[123]$/.test(text)) inbound_kind = 'plain_option';\n  const uid = u.update_id;\n  items.push({\n    update_id: uid,\n    inbound_kind,\n    inbound_text: text,\n    stale_update_id_guard: uid != null && uid <= lastHandled\n  });\n}\nreturn {\n  json: {\n    http_ok: body && body.ok === true,\n    result_count: results.length,\n    candidates: items,\n    open_decision_ids: OPEN,\n    last_handled_update_id_placeholder: lastHandled,\n    test_only: true\n  }\n};"
      },
      "id": "wf000004-0004-4004-8004-000000000004",
      "name": "Normalize Telegram updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Allowed-chat guard — CLOSED by default until CONFIGURE placeholder replaced in n8n UI.\nconst d = $input.item.json;\nconst ALLOWED = '**CONFIGURE_ALLOWED_CHAT_ID_IN_N8N_UI**';\nconst trimmed = String(ALLOWED).trim();\nconst configured = trimmed.length > 0 && trimmed.indexOf('CONFIGURE') === -1 && trimmed.indexOf('**') === -1;\nreturn {\n  json: {\n    ...d,\n    allowed_chat_configured: configured,\n    chat_filter_ok: configured,\n    block_reason: configured ? null : 'allowed_chat_not_configured'\n  }\n};"
      },
      "id": "wf000005-0005-4005-8005-000000000005",
      "name": "Filter allowed chat placeholder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Decision Packet — prefer newest non-stale candidate.\nconst d = $input.item.json;\nconst OPEN = d.open_decision_ids || ['D-9998-T'];\nconst sorted = [...(d.candidates || [])].sort((a, b) => (b.update_id || 0) - (a.update_id || 0));\nlet best = null;\nfor (const c of sorted) {\n  if (c.stale_update_id_guard) continue;\n  let decision_id = null;\n  let selected_option = null;\n  let note_present = false;\n  if (c.inbound_kind === 'callback') {\n    const m = String(c.inbound_text).match(/^dp:(D-\\d{4}-[A-Z]):([123])$/);\n    if (m) { decision_id = m[1]; selected_option = m[2]; }\n  } else if (c.inbound_kind === 'plain_option' && OPEN.length === 1) {\n    decision_id = OPEN[0];\n    selected_option = c.inbound_text;\n  } else if (c.inbound_kind === 'note') {\n    const nm = String(c.inbound_text).match(/^note:(D-\\d{4}-[A-Z]):(.+)$/);\n    if (nm) {\n      decision_id = nm[1];\n      note_present = true;\n      const raw = nm[2] || '';\n      const preview = raw.length > 80 ? raw.slice(0, 80) + '...' : raw;\n      note_present = true;\n      c.note_preview_sanitized = preview.replace(/[\\n\\r]/g, ' ');\n    }\n  }\n  if (decision_id) {\n    best = { update_id: c.update_id, inbound_kind: c.inbound_kind, decision_id, selected_option, note_present, note_preview_sanitized: c.note_preview_sanitized || null };\n    break;\n  }\n}\nreturn {\n  json: {\n    ...d,\n    parsed: best,\n    parse_ok: !!best\n  }\n};"
      },
      "id": "wf000006-0006-4006-8006-000000000006",
      "name": "Parse Decision Packet response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Offset / stale / duplicate / idempotency guard (demo staticData).\nconst d = $input.item.json;\nconst store = $getWorkflowStaticData('global');\nif (!store.handledKeys) store.handledKeys = {};\nif (store.lastUpdateId === undefined) store.lastUpdateId = 0;\nif (store.lastHandledUpdateId === undefined) store.lastHandledUpdateId = 0;\nconst p = d.parsed;\nlet status = 'blocked';\nlet duplicate_or_stale = false;\nlet block_reason = d.block_reason || 'no_matching_update';\nlet update_id = null;\nlet decision_id = null;\nlet selected_option = null;\nlet note_present = false;\nif (!d.chat_filter_ok) {\n  block_reason = 'allowed_chat_not_configured';\n} else if (!p) {\n  block_reason = 'no_parseable_decision_response';\n} else {\n  update_id = p.update_id;\n  decision_id = p.decision_id;\n  selected_option = p.selected_option;\n  note_present = !!p.note_present;\n  const open = (d.open_decision_ids || []).includes(decision_id);\n  const slot = selected_option || (note_present ? 'note' : 'unknown');\n  const key = decision_id + ':' + slot + ':' + update_id;\n  if (update_id != null && update_id <= store.lastHandledUpdateId) {\n    duplicate_or_stale = true;\n    block_reason = 'stale_old_update_id';\n  } else if (!open) {\n    duplicate_or_stale = true;\n    block_reason = 'stale_or_unknown_decision_id';\n  } else if (store.handledKeys[key]) {\n    duplicate_or_stale = true;\n    block_reason = 'duplicate_or_double_click';\n  } else if (p.inbound_kind === 'plain_option' || p.inbound_kind === 'callback') {\n    store.handledKeys[key] = new Date().toISOString();\n    store.lastHandledUpdateId = Math.max(store.lastHandledUpdateId, update_id);\n    store.lastUpdateId = update_id + 1;\n    status = 'accepted';\n    block_reason = null;\n  } else if (note_present) {\n    status = 'note_placeholder';\n    block_reason = null;\n  }\n}\nreturn {\n  json: {\n    status,\n    decision_id,\n    selected_option,\n    update_id,\n    duplicate_or_stale,\n    note_present,\n    block_reason,\n    allowed_chat_configured: !!d.allowed_chat_configured,\n    offset_after_placeholder: store.lastUpdateId,\n    last_handled_update_id_placeholder: store.lastHandledUpdateId,\n    test_only: true\n  }\n};"
      },
      "id": "wf000007-0007-4007-8007-000000000007",
      "name": "Offset dedupe idempotency guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Sanitized polling receipt — no raw chat_id, user_id, or message body.\nconst d = $input.item.json;\nreturn {\n  json: {\n    inspect_status: d.status,\n    decision_id: d.decision_id,\n    selected_option: d.selected_option,\n    update_id: d.update_id,\n    duplicate_or_stale: d.duplicate_or_stale,\n    note_present: d.note_present,\n    block_reason: d.block_reason,\n    allowed_chat_configured: d.allowed_chat_configured,\n    offset_after_placeholder: d.offset_after_placeholder,\n    last_handled_update_id_placeholder: d.last_handled_update_id_placeholder,\n    test_only: true\n  }\n};"
      },
      "id": "wf000008-0008-4008-8008-000000000008",
      "name": "Build sanitized polling receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        200
      ]
    },
    {
      "parameters": {
        "content": "OFFSET STORE — **CONFIGURE_OFFSET_STORE_IN_N8N_UI**\nDemo: staticData lastUpdateId + lastHandledUpdateId + handledKeys.\nNo production Data Table id in Git.",
        "height": 140,
        "width": 460
      },
      "id": "wf000012-0012-4012-8012-000000000012",
      "name": "NOTE - offset store placeholder",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Read-only inspect — contract fields only.\nconst d = $input.item.json;\nreturn {\n  json: {\n    inspect_status: d.inspect_status,\n    decision_id: d.decision_id || null,\n    selected_option: d.selected_option || null,\n    update_id: d.update_id ?? null,\n    duplicate_or_stale: d.duplicate_or_stale || false,\n    note_present: d.note_present || false,\n    block_reason: d.block_reason || null,\n    allowed_chat_configured: d.allowed_chat_configured === true,\n    offset_after_placeholder: d.offset_after_placeholder ?? null,\n    test_only: true\n  }\n};"
      },
      "id": "wf000009-0009-4009-8009-000000000009",
      "name": "Inspect polling result (read-only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        200
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build getUpdates request placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build getUpdates request placeholder": {
      "main": [
        [
          {
            "node": "HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)": {
      "main": [
        [
          {
            "node": "Normalize Telegram updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram updates": {
      "main": [
        [
          {
            "node": "Filter allowed chat placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter allowed chat placeholder": {
      "main": [
        [
          {
            "node": "Parse Decision Packet response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision Packet response": {
      "main": [
        [
          {
            "node": "Offset dedupe idempotency guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offset dedupe idempotency guard": {
      "main": [
        [
          {
            "node": "Build sanitized polling receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build sanitized polling receipt": {
      "main": [
        [
          {
            "node": "Inspect polling result (read-only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wf-telegram-polling"
    },
    {
      "name": "template-only"
    },
    {
      "name": "getUpdates"
    },
    {
      "name": "hardened-prep"
    },
    {
      "name": "control-plane"
    }
  ]
}
