workflows/wf-telegram-inbound-polling-getupdates.template.json
{
  "name": "47 - Wf Telegram Inbound Polling getUpdates TEST ONLY - TEMPLATE",
  "nodes": [
    {
      "parameters": {},
      "id": "wf000001-0001-4001-8001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1560,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "wf000018-0018-4018-8018-000000000018",
      "name": "Schedule Trigger - TEST ONLY DISABLED",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1560,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "READY IMPORT — active=false. Schedule Trigger exists disabled/test-only. No Telegram Trigger. No public webhook. active:false until explicit runtime gate.\n\nPrereq: n8n Data Table wf47_polling_state_test with rows:\n  last_update_id=0, last_handled_update_id=0, handled_keys_json={}\n\nHuman steps ONLY:\n1) Delete/avoid duplicate old workflow 47 before import\n2) Import this template once\n3) Set node: replace **CONFIGURE_ALLOWED_CHAT_ID_IN_N8N_UI**\n4) HTTP node: token URL in n8n UI only\n5) Manual Trigger twice to validate duplicate block\n\nPersistence: Data Table (not staticData). TEST ONLY table wf47_polling_state_test.",
        "height": 320,
        "width": 520
      },
      "id": "wf000011-0011-4011-8011-000000000011",
      "name": "NOTE - ready import Data Table",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1640,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf47-set-allowed-chat",
              "name": "allowed_chat_id",
              "value": "**CONFIGURE_ALLOWED_CHAT_ID_IN_N8N_UI**",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf000013-0013-4013-8013-000000000013",
      "name": "Set Wf47 UI config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1320,
        200
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "wf47_polling_state_test"
        },
        "returnAll": true,
        "limit": 10
      },
      "id": "wf000014-0014-4014-8014-000000000014",
      "name": "Data Table - Load wf47 polling state",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1080,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build getUpdates params from wf47_polling_state_test rows (no token/chat in output).\nconst rows = $('Data Table - Load wf47 polling state').all().map((i) => i.json);\nconst byKey = (k) => {\n  const row = rows.find((r) => r && r.key === k);\n  return row ? row.value : null;\n};\nconst lastUpdateId = Number(byKey('last_update_id') || 0);\nconst lastHandled = Number(byKey('last_handled_update_id') || 0);\nlet handledKeys = {};\ntry {\n  const raw = byKey('handled_keys_json') || '{}';\n  handledKeys = typeof raw === 'object' ? raw : JSON.parse(String(raw));\n} catch {\n  handledKeys = {};\n}\nreturn [{\n  json: {\n    offset: lastUpdateId,\n    limit: 10,\n    last_handled_update_id: lastHandled,\n    handled_keys: handledKeys,\n    open_decision_ids_test_only: ['D-9998-T'],\n    state_table: 'wf47_polling_state_test',\n    test_only: true\n  }\n}];"
      },
      "id": "wf000002-0002-4002-8002-000000000002",
      "name": "Build getUpdates request from state",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/bot__CONFIGURE_TELEGRAM_BOT_TOKEN_IN_N8N_UI_OR_CREDENTIAL__/getUpdates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "={{ $json.offset }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wf000003-0003-4003-8003-000000000003",
      "name": "HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize — no raw chat_id/user_id/message body in output.\nconst build = $('Build getUpdates request from state').first().json;\nconst lastHandled = Number(build.last_handled_update_id || 0);\nconst resp = $input.item.json;\nconst body = resp && resp.body !== undefined ? resp.body : resp;\nconst results = body && Array.isArray(body.result) ? body.result : [];\nconst OPEN = build.open_decision_ids_test_only || ['D-9998-T'];\nconst items = [];\nfor (const u of results) {\n  const cq = u.callback_query || {};\n  const msg = cq.message || u.message || {};\n  const text = String(cq.data || msg.text || '').trim();\n  let inbound_kind = 'unknown';\n  if (text.startsWith('note:')) inbound_kind = 'note';\n  else if (text.startsWith('dp:')) inbound_kind = 'callback';\n  else if (/^[123]$/.test(text)) inbound_kind = 'plain_option';\n  const uid = u.update_id;\n  items.push({\n    update_id: uid,\n    inbound_kind,\n    inbound_text: text,\n    stale_update_id_guard: uid != null && uid <= lastHandled\n  });\n}\nreturn {\n  json: {\n    http_ok: body && body.ok === true,\n    result_count: results.length,\n    candidates: items,\n    open_decision_ids: OPEN,\n    last_handled_update_id: lastHandled,\n    handled_keys: build.handled_keys,\n    test_only: true\n  }\n};"
      },
      "id": "wf000004-0004-4004-8004-000000000004",
      "name": "Normalize Telegram updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Allowed-chat — read Set node only (edit Set Wf47 UI config in n8n, not Code).\nconst d = $input.item.json;\nconst ui = $('Set Wf47 UI config').first().json;\nconst ALLOWED = String(ui.allowed_chat_id || '').trim();\nconst configured = ALLOWED.length > 0 && ALLOWED.indexOf('CONFIGURE') === -1 && ALLOWED.indexOf('**') === -1;\nreturn {\n  json: {\n    ...d,\n    allowed_chat_configured: configured,\n    chat_filter_ok: configured,\n    block_reason: configured ? null : 'allowed_chat_not_configured'\n  }\n};"
      },
      "id": "wf000005-0005-4005-8005-000000000005",
      "name": "Filter allowed chat placeholder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Decision Packet — newest non-stale candidate.\nconst d = $input.item.json;\nconst OPEN = d.open_decision_ids || ['D-9998-T'];\nconst sorted = [...(d.candidates || [])].sort((a, b) => (b.update_id || 0) - (a.update_id || 0));\nlet best = null;\nfor (const c of sorted) {\n  if (c.stale_update_id_guard) continue;\n  let decision_id = null;\n  let selected_option = null;\n  let note_present = false;\n  if (c.inbound_kind === 'callback') {\n    const m = String(c.inbound_text).match(/^dp:(D-\\d{4}-[A-Z]):([123])$/);\n    if (m) { decision_id = m[1]; selected_option = m[2]; }\n  } else if (c.inbound_kind === 'plain_option' && OPEN.length === 1) {\n    decision_id = OPEN[0];\n    selected_option = c.inbound_text;\n  } else if (c.inbound_kind === 'note') {\n    const nm = String(c.inbound_text).match(/^note:(D-\\d{4}-[A-Z]):(.+)$/);\n    if (nm) {\n      decision_id = nm[1];\n      note_present = true;\n      selected_option = null;\n    }\n  }\n  if (decision_id) {\n    best = { update_id: c.update_id, inbound_kind: c.inbound_kind, decision_id, selected_option, note_present };\n    break;\n  }\n}\nreturn {\n  json: {\n    ...d,\n    parsed: best,\n    parse_ok: !!best\n  }\n};"
      },
      "id": "wf000006-0006-4006-8006-000000000006",
      "name": "Parse Decision Packet response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Idempotency using Data Table state (not staticData).\nconst d = $input.item.json;\nconst build = $('Build getUpdates request from state').first().json;\nconst lastHandled = Number(build.last_handled_update_id || 0);\nlet handledKeys = {};\ntry {\n  const hk = build.handled_keys;\n  handledKeys = typeof hk === 'object' && hk ? { ...hk } : JSON.parse(String(hk || '{}'));\n} catch {\n  handledKeys = {};\n}\nconst p = d.parsed;\nlet status = 'blocked';\nlet duplicate_or_stale = false;\nlet block_reason = d.block_reason || 'no_matching_update';\nlet update_id = null;\nlet decision_id = null;\nlet selected_option = null;\nlet note_present = false;\nlet offset_after = Number(build.offset || 0);\nlet persist_state = null;\nif (!d.chat_filter_ok) {\n  block_reason = 'allowed_chat_not_configured';\n} else if (!p) {\n  block_reason = 'no_parseable_decision_response';\n} else {\n  update_id = p.update_id;\n  decision_id = p.decision_id;\n  selected_option = p.selected_option;\n  note_present = !!p.note_present;\n  const open = (d.open_decision_ids || []).includes(decision_id);\n  const slot = selected_option || (note_present ? 'note' : 'unknown');\n  const key = decision_id + ':' + slot + ':' + update_id;\n  if (update_id != null && update_id <= lastHandled) {\n    duplicate_or_stale = true;\n    block_reason = 'stale_old_update_id';\n  } else if (!open) {\n    duplicate_or_stale = true;\n    block_reason = 'stale_or_unknown_decision_id';\n  } else if (handledKeys[key]) {\n    duplicate_or_stale = true;\n    block_reason = 'duplicate_or_double_click';\n  } else if (p.inbound_kind === 'plain_option' || p.inbound_kind === 'callback') {\n    handledKeys[key] = new Date().toISOString();\n    offset_after = update_id + 1;\n    status = 'accepted';\n    block_reason = null;\n    persist_state = {\n      last_update_id: String(offset_after),\n      last_handled_update_id: String(update_id),\n      handled_keys_json: JSON.stringify(handledKeys)\n    };\n  } else if (note_present) {\n    status = 'note_placeholder';\n    block_reason = null;\n  }\n}\nreturn {\n  json: {\n    status,\n    decision_id,\n    selected_option,\n    update_id,\n    duplicate_or_stale,\n    note_present,\n    block_reason,\n    allowed_chat_configured: !!d.allowed_chat_configured,\n    offset_after_placeholder: offset_after,\n    last_handled_update_id: lastHandled,\n    persist_state,\n    test_only: true\n  }\n};"
      },
      "id": "wf000007-0007-4007-8007-000000000007",
      "name": "Offset dedupe idempotency guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "wf47-if-accepted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf000015-0015-4015-8015-000000000015",
      "name": "IF accepted persist state",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Emit 3 Data Table upsert rows for accepted path only.\nconst g = $('Offset dedupe idempotency guard').first().json;\nconst p = g.persist_state;\nif (!p) return [];\nconst note = 'wf47 polling state TEST ONLY';\nreturn [\n  { json: { state_key: 'last_update_id', state_value: p.last_update_id, note } },\n  { json: { state_key: 'last_handled_update_id', state_value: p.last_handled_update_id, note } },\n  { json: { state_key: 'handled_keys_json', state_value: p.handled_keys_json, note } }\n];"
      },
      "id": "wf000016-0016-4016-8016-000000000016",
      "name": "Prepare Data Table state upserts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        80
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "wf47_polling_state_test"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "condition": "eq",
              "keyValue": "={{ $json.state_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $json.state_key }}",
            "value": "={{ $json.state_value }}",
            "updated_at": "={{ $now.toISO() }}",
            "note": "={{ $json.note }}"
          }
        },
        "options": {}
      },
      "id": "wf000017-0017-4017-8017-000000000017",
      "name": "Data Table - Upsert wf47 state row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1080,
        80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Sanitized receipt — no raw chat_id/user_id/token/message body.\nconst d = $('Offset dedupe idempotency guard').item.json;\nreturn {\n  json: {\n    inspect_status: d.status,\n    decision_id: d.decision_id,\n    selected_option: d.selected_option,\n    update_id: d.update_id,\n    duplicate_or_stale: d.duplicate_or_stale,\n    note_present: d.note_present,\n    block_reason: d.block_reason,\n    allowed_chat_configured: d.allowed_chat_configured,\n    offset_after_placeholder: d.offset_after_placeholder,\n    last_handled_update_id: d.last_handled_update_id,\n    test_only: true\n  }\n};"
      },
      "id": "wf000008-0008-4008-8008-000000000008",
      "name": "Build sanitized polling receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Read-only inspect — contract fields only.\nconst d = $input.item.json;\nreturn {\n  json: {\n    inspect_status: d.inspect_status,\n    decision_id: d.decision_id || null,\n    selected_option: d.selected_option || null,\n    update_id: d.update_id ?? null,\n    duplicate_or_stale: d.duplicate_or_stale || false,\n    note_present: d.note_present || false,\n    block_reason: d.block_reason || null,\n    allowed_chat_configured: d.allowed_chat_configured === true,\n    offset_after_placeholder: d.offset_after_placeholder ?? null,\n    last_handled_update_id: d.last_handled_update_id ?? null,\n    test_only: true\n  }\n};"
      },
      "id": "wf000009-0009-4009-8009-000000000009",
      "name": "Inspect polling result (read-only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        320
      ]
    },
    {
      "parameters": {
        "content": "TABLE: wf47_polling_state_test\nRows: last_update_id | last_handled_update_id | handled_keys_json\nPattern from repo: workflows/42 + v4 multirepo draft (returnAll get, upsert by key).",
        "height": 120,
        "width": 400
      },
      "id": "wf000012-0012-4012-8012-000000000012",
      "name": "NOTE - offset store Data Table",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1080,
        400
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Wf47 UI config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - TEST ONLY DISABLED": {
      "main": [
        [
          {
            "node": "Set Wf47 UI config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Wf47 UI config": {
      "main": [
        [
          {
            "node": "Data Table - Load wf47 polling state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Table - Load wf47 polling state": {
      "main": [
        [
          {
            "node": "Build getUpdates request from state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build getUpdates request from state": {
      "main": [
        [
          {
            "node": "HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)": {
      "main": [
        [
          {
            "node": "Normalize Telegram updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram updates": {
      "main": [
        [
          {
            "node": "Filter allowed chat placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter allowed chat placeholder": {
      "main": [
        [
          {
            "node": "Parse Decision Packet response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision Packet response": {
      "main": [
        [
          {
            "node": "Offset dedupe idempotency guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offset dedupe idempotency guard": {
      "main": [
        [
          {
            "node": "IF accepted persist state",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build sanitized polling receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF accepted persist state": {
      "main": [
        [
          {
            "node": "Prepare Data Table state upserts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Data Table state upserts": {
      "main": [
        [
          {
            "node": "Data Table - Upsert wf47 state row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build sanitized polling receipt": {
      "main": [
        [
          {
            "node": "Inspect polling result (read-only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wf-telegram-polling"
    },
    {
      "name": "template-only"
    },
    {
      "name": "getUpdates"
    },
    {
      "name": "datatable-ready-import"
    },
    {
      "name": "control-plane"
    }
  ]
}
