workflows/wf-telegram-inbound-polling-getupdates.template.json
{
  "name": "47 - Wf Telegram Inbound Polling getUpdates TEST ONLY - TEMPLATE",
  "nodes": [
    {
      "parameters": {},
      "id": "wf000001-0001-4001-8001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1560,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "wf000018-0018-4018-8018-000000000018",
      "name": "Schedule Trigger - TEST ONLY DISABLED",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1560,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "READY IMPORT — active=false. Schedule Trigger disabled/test-only. No Telegram Trigger. No public webhook.\n\nGate E store derivation: open_decision_ids derived from control_plane_decisions_test (status=open); Collapse load fan-out before Build (runOnceForAllItems). No hardcoded open_decision_ids_test_only.\n\nWg48 handoff: Set Wf47 UI config enable_wg48_handoff=false (default). When false, IF short-circuits before Execute Workflow. Phase 2: set true only for test window + wire CONFIGURE_48_WORKFLOW_REFERENCE_IN_N8N_UI on Execute Workflow node (no hardcoded workflow id in Git).\n\nPrereq: wf47_polling_state_test + control_plane_decisions_test seeded. Token/chat_id in n8n UI only.",
        "height": 320,
        "width": 520
      },
      "id": "wf000011-0011-4011-8011-000000000011",
      "name": "NOTE - ready import Data Table",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1640,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf47-set-allowed-chat",
              "name": "allowed_chat_id",
              "value": "**CONFIGURE_ALLOWED_CHAT_ID_IN_N8N_UI**",
              "type": "string"
            },
            {
              "id": "wf47-set-handoff",
              "name": "enable_wg48_handoff",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "wf000013-0013-4013-8013-000000000013",
      "name": "Set Wf47 UI config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1320,
        200
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "control_plane_decisions_test"
        },
        "returnAll": true,
        "limit": 50
      },
      "id": "wf000021-0021-4021-8021-000000000021",
      "name": "Data Table - Load shared decisions",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1200,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collapse Data Table load fan-out: Load returns 1 item per store row (returnAll).\n// Downstream polling state load may fan-out again; Build uses runOnceForAllItems to emit 1 item.\nconst loaded = $input.all();\nconst rowCount = loaded.length;\nreturn [{\n  json: {\n    store_rows_loaded: rowCount,\n    fan_out_collapsed: rowCount > 1,\n    test_only: true,\n    note: 'Wf47: collapsed shared decisions load fan-out before polling state + build'\n  }\n}];"
      },
      "id": "wf000022-0022-4022-8022-000000000022",
      "name": "Collapse shared decisions load fan-out (1 item per run)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1140,
        200
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "wf47_polling_state_test"
        },
        "returnAll": true,
        "limit": 10
      },
      "id": "wf000014-0014-4014-8014-000000000014",
      "name": "Data Table - Load wf47 polling state",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1080,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build getUpdates params from wf47_polling_state_test + derive open IDs from store.\nconst pollRows = $('Data Table - Load wf47 polling state').all().map((i) => i.json);\nconst storeRows = $('Data Table - Load shared decisions').all().map((i) => i.json);\nconst byKey = (k) => {\n  const row = pollRows.find((r) => r && r.key === k);\n  return row ? row.value : null;\n};\nconst lastUpdateId = Number(byKey('last_update_id') || 0);\nconst lastHandled = Number(byKey('last_handled_update_id') || 0);\nlet handledKeys = {};\ntry {\n  const raw = byKey('handled_keys_json') || '{}';\n  handledKeys = typeof raw === 'object' ? raw : JSON.parse(String(raw));\n} catch {\n  handledKeys = {};\n}\nconst openSet = new Set();\nfor (const r of storeRows) {\n  if (r && String(r.status) === 'open' && r.decision_id) {\n    openSet.add(String(r.decision_id));\n  }\n}\nconst open_decision_ids = [...openSet].sort();\nreturn [{\n  json: {\n    offset: lastUpdateId,\n    limit: 10,\n    allowed_updates_json: JSON.stringify(['message', 'callback_query']),\n    last_handled_update_id: lastHandled,\n    handled_keys: handledKeys,\n    open_decision_ids,\n    open_decision_ids_source: 'control_plane_decisions_test',\n    store_derivation_bypassed: false,\n    open_decision_ids_count: open_decision_ids.length,\n    state_table: 'wf47_polling_state_test',\n    test_only: true\n  }\n}];"
      },
      "id": "wf000002-0002-4002-8002-000000000002",
      "name": "Build getUpdates request from state",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/bot__CONFIGURE_TELEGRAM_BOT_TOKEN_IN_N8N_UI_OR_CREDENTIAL__/getUpdates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "={{ $json.offset }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "allowed_updates",
              "value": "={{ $json.allowed_updates_json }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wf000003-0003-4003-8003-000000000003",
      "name": "HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize Telegram updates while preserving only minimal source metadata for auth + callback ack.\nconst build = $('Build getUpdates request from state').first().json;\nconst lastHandled = Number(build.last_handled_update_id || 0);\nconst resp = $input.item.json;\nconst body = resp && resp.body !== undefined ? resp.body : resp;\nconst results = body && Array.isArray(body.result) ? body.result : [];\nconst OPEN = Array.isArray(build.open_decision_ids) ? build.open_decision_ids : [];\nconst candidates = [];\nfor (const u of results) {\n  const cq = u && u.callback_query ? u.callback_query : {};\n  const msg = (cq && cq.message) ? cq.message : (u && u.message ? u.message : {});\n  const text = String(cq.data || msg.text || '').trim();\n  let inbound_kind = 'unknown';\n  if (text.startsWith('note:')) inbound_kind = 'note';\n  else if (text.startsWith('dp:')) inbound_kind = 'callback';\n  else if (/^[1-5]$/.test(text)) inbound_kind = 'plain_option';\n  const updateId = u && u.update_id !== undefined ? u.update_id : null;\n  const sourceChatId = msg && msg.chat && msg.chat.id !== undefined ? msg.chat.id : null;\n  const inlineCallbackSource = !!(\n    cq &&\n    cq.inline_message_id &&\n    !(cq.message && cq.message.chat && cq.message.chat.id !== undefined)\n  );\n  candidates.push({\n    update_id: updateId,\n    inbound_kind,\n    inbound_text: text,\n    stale_update_id_guard: updateId != null && updateId <= lastHandled,\n    callback_query_id: cq && cq.id ? cq.id : null,\n    source_chat_id: sourceChatId,\n    inline_callback_source: inlineCallbackSource\n  });\n}\nreturn {\n  json: {\n    http_ok: body && body.ok === true,\n    result_count: results.length,\n    candidates,\n    open_decision_ids: OPEN,\n    open_decision_ids_source: build.open_decision_ids_source || null,\n    store_derivation_bypassed: build.store_derivation_bypassed === true,\n    open_decision_ids_count: build.open_decision_ids_count ?? OPEN.length,\n    last_handled_update_id: lastHandled,\n    handled_keys: build.handled_keys,\n    test_only: true\n  }\n};"
      },
      "id": "wf000004-0004-4004-8004-000000000004",
      "name": "Normalize Telegram updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Authorize each candidate against the configured source chat. Fail closed per candidate.\nconst d = $input.item.json;\nconst ui = $('Set Wf47 UI config').first().json;\nconst allowedChatId = String(ui.allowed_chat_id || '').trim();\nconst configured = allowedChatId.length > 0 && allowedChatId.indexOf('CONFIGURE') === -1 && allowedChatId.indexOf('**') === -1;\nconst candidates = (d.candidates || []).map((candidate) => {\n  let source_chat_authorized = false;\n  let auth_block_reason = null;\n  if (!configured) {\n    auth_block_reason = 'allowed_chat_not_configured';\n  } else if (candidate.inline_callback_source === true) {\n    auth_block_reason = 'inline_callback_source_unsupported';\n  } else if (candidate.source_chat_id === null || candidate.source_chat_id === undefined || String(candidate.source_chat_id).trim() === '') {\n    auth_block_reason = 'source_chat_missing';\n  } else if (String(candidate.source_chat_id) !== String(allowedChatId)) {\n    auth_block_reason = 'source_chat_mismatch';\n  } else {\n    source_chat_authorized = true;\n  }\n  return {\n    ...candidate,\n    source_chat_authorized,\n    auth_block_reason\n  };\n});\nreturn {\n  json: {\n    ...d,\n    candidates,\n    allowed_chat_configured: configured,\n    block_reason: configured ? (d.block_reason || null) : 'allowed_chat_not_configured'\n  }\n};"
      },
      "id": "wf000005-0005-4005-8005-000000000005",
      "name": "Authorize source chat per candidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Multi-update batch: prefer newest authorized+syntactic+non-stale; else stale/dup authorized; else fail-closed.\nconst d = $input.item.json;\nconst OPEN = Array.isArray(d.open_decision_ids) ? d.open_decision_ids : [];\nconst sorted = [...(d.candidates || [])].sort((a, b) => (Number(b.update_id) || 0) - (Number(a.update_id) || 0));\nfunction evaluateCandidate(candidate) {\n  const ev = {\n    update_id: candidate.update_id,\n    inbound_kind: candidate.inbound_kind,\n    source_chat_authorized: candidate.source_chat_authorized === true,\n    auth_block_reason: candidate.auth_block_reason || null,\n    stale_update_id_guard: candidate.stale_update_id_guard === true,\n    callback_query_id: candidate.callback_query_id || null,\n    syntactic: false,\n    decision_id: null,\n    selected_option: null,\n    note_present: false,\n    block_reason: null\n  };\n  if (candidate.source_chat_authorized !== true) {\n    ev.block_reason = candidate.auth_block_reason || 'source_chat_mismatch';\n    return ev;\n  }\n  if (candidate.inbound_kind === 'callback') {\n    const m = String(candidate.inbound_text).match(/^dp:(D-\\d{4}-[A-Z]):([1-5])$/);\n    if (m) {\n      ev.syntactic = true;\n      ev.decision_id = m[1];\n      ev.selected_option = m[2];\n      return ev;\n    }\n    ev.block_reason = 'no_parseable_decision_response';\n    return ev;\n  }\n  if (candidate.inbound_kind === 'plain_option') {\n    if (/^[1-5]$/.test(String(candidate.inbound_text))) {\n      if (OPEN.length === 1) {\n        ev.syntactic = true;\n        ev.decision_id = OPEN[0];\n        ev.selected_option = String(candidate.inbound_text);\n        return ev;\n      }\n      if (OPEN.length > 1) {\n        ev.block_reason = 'ambiguous_plain_option';\n        return ev;\n      }\n    }\n    ev.block_reason = 'no_parseable_decision_response';\n    return ev;\n  }\n  if (candidate.inbound_kind === 'note') {\n    const nm = String(candidate.inbound_text).match(/^note:(D-\\d{4}-[A-Z]):(.+)$/);\n    if (nm) {\n      ev.syntactic = true;\n      ev.decision_id = nm[1];\n      ev.note_present = true;\n      return ev;\n    }\n  }\n  ev.block_reason = 'no_parseable_decision_response';\n  return ev;\n}\nconst evaluated = sorted.map(evaluateCandidate);\nlet selected = evaluated.find((e) => e.source_chat_authorized && e.syntactic && !e.stale_update_id_guard);\nif (!selected) {\n  selected = evaluated.find((e) => e.source_chat_authorized && e.syntactic && e.stale_update_id_guard);\n}\nif (!selected) {\n  selected = evaluated.find((e) => e.source_chat_authorized && e.block_reason);\n}\nif (!selected && evaluated.length) {\n  selected = evaluated[0];\n}\nlet parsed = null;\nlet parse_ok = false;\nlet block_reason = d.block_reason || 'no_parseable_decision_response';\nif (selected) {\n  if (selected.syntactic) {\n    parsed = {\n      update_id: selected.update_id,\n      inbound_kind: selected.inbound_kind,\n      decision_id: selected.decision_id,\n      selected_option: selected.selected_option,\n      note_present: selected.note_present,\n      callback_query_id: selected.callback_query_id,\n      callback_ack_candidate: selected.inbound_kind === 'callback' && !!selected.callback_query_id,\n      stale_update_id_guard: selected.stale_update_id_guard\n    };\n    parse_ok = true;\n    block_reason = null;\n  } else {\n    block_reason = selected.block_reason || selected.auth_block_reason || block_reason;\n  }\n}\nreturn {\n  json: {\n    ...d,\n    parsed,\n    parse_ok,\n    block_reason,\n    selected_eval: selected || null\n  }\n};"
      },
      "id": "wf000006-0006-4006-8006-000000000006",
      "name": "Parse Decision Packet response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Idempotency + auth + callback ack gating using Data Table state (not staticData).\nconst d = $input.item.json;\nconst build = $('Build getUpdates request from state').first().json;\nconst lastHandled = Number(build.last_handled_update_id || 0);\nlet handledKeys = {};\ntry {\n  const hk = build.handled_keys;\n  handledKeys = typeof hk === 'object' && hk ? { ...hk } : JSON.parse(String(hk || '{}'));\n} catch {\n  handledKeys = {};\n}\nconst p = d.parsed;\nlet status = 'blocked';\nlet duplicate_or_stale = false;\nlet block_reason = d.block_reason || (d.allowed_chat_configured === false ? 'allowed_chat_not_configured' : 'no_matching_update');\nlet update_id = null;\nlet decision_id = null;\nlet selected_option = null;\nlet note_present = false;\nlet offset_after = Number(build.offset || 0);\nlet persist_state = null;\nif (d.allowed_chat_configured === false) {\n  block_reason = 'allowed_chat_not_configured';\n} else if (!p) {\n  block_reason = d.block_reason || 'no_parseable_decision_response';\n} else {\n  update_id = p.update_id;\n  decision_id = p.decision_id;\n  selected_option = p.selected_option;\n  note_present = !!p.note_present;\n  const open = (d.open_decision_ids || []).includes(decision_id);\n  const slot = selected_option || (note_present ? 'note' : 'unknown');\n  const key = decision_id + ':' + slot + ':' + update_id;\n  if (update_id != null && update_id <= lastHandled) {\n    duplicate_or_stale = true;\n    block_reason = 'stale_old_update_id';\n  } else if (!open) {\n    duplicate_or_stale = true;\n    block_reason = 'stale_or_unknown_decision_id';\n  } else if (handledKeys[key]) {\n    duplicate_or_stale = true;\n    block_reason = 'duplicate_or_double_click';\n  } else if (p.inbound_kind === 'plain_option' || p.inbound_kind === 'callback') {\n    handledKeys[key] = new Date().toISOString();\n    offset_after = update_id + 1;\n    status = 'accepted';\n    block_reason = null;\n    persist_state = {\n      last_update_id: String(offset_after),\n      last_handled_update_id: String(update_id),\n      handled_keys_json: JSON.stringify(handledKeys)\n    };\n  } else if (note_present) {\n    status = 'note_placeholder';\n    block_reason = null;\n  }\n}\nlet callback_ack_applicable = false;\nlet _callback_query_id_internal = null;\nif (\n  p &&\n  p.callback_ack_candidate === true &&\n  p.callback_query_id &&\n  (status === 'accepted' || duplicate_or_stale)\n) {\n  callback_ack_applicable = true;\n  _callback_query_id_internal = p.callback_query_id;\n}\nreturn {\n  json: {\n    status,\n    decision_id,\n    selected_option,\n    update_id,\n    duplicate_or_stale,\n    note_present,\n    block_reason,\n    allowed_chat_configured: !!d.allowed_chat_configured,\n    callback_ack_applicable,\n    _callback_query_id_internal,\n    offset_after_placeholder: offset_after,\n    last_handled_update_id: lastHandled,\n    persist_state,\n    test_only: true\n  }\n};"
      },
      "id": "wf000007-0007-4007-8007-000000000007",
      "name": "Offset dedupe idempotency guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "wf47-if-accepted",
              "leftValue": "={{ $json.status }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf000015-0015-4015-8015-000000000015",
      "name": "IF accepted persist state",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Emit 3 Data Table upsert rows for accepted path only.\nconst g = $('Offset dedupe idempotency guard').first().json;\nconst p = g.persist_state;\nif (!p) return [];\nconst note = 'wf47 polling state TEST ONLY';\nreturn [\n  { json: { state_key: 'last_update_id', state_value: p.last_update_id, note } },\n  { json: { state_key: 'last_handled_update_id', state_value: p.last_handled_update_id, note } },\n  { json: { state_key: 'handled_keys_json', state_value: p.handled_keys_json, note } }\n];"
      },
      "id": "wf000016-0016-4016-8016-000000000016",
      "name": "Prepare Data Table state upserts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        80
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "wf47_polling_state_test"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "condition": "eq",
              "keyValue": "={{ $json.state_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $json.state_key }}",
            "value": "={{ $json.state_value }}",
            "updated_at": "={{ $now.toISO() }}",
            "note": "={{ $json.note }}"
          }
        },
        "options": {}
      },
      "id": "wf000017-0017-4017-8017-000000000017",
      "name": "Data Table - Upsert wf47 state row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1080,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "wf47-if-callback-ack-applicable",
              "leftValue": "={{ $json.callback_ack_applicable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf000023-0023-4023-8023-000000000023",
      "name": "IF callback ack applicable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot__CONFIGURE_TELEGRAM_BOT_TOKEN_IN_N8N_UI_OR_CREDENTIAL__/answerCallbackQuery",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $json._callback_query_id_internal }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wf000024-0024-4024-8024-000000000024",
      "name": "HTTP Request - answerCallbackQuery (CONFIGURE_IN_N8N_UI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        260
      ],
      "retryOnFail": false,
      "maxTries": 1,
      "waitBetweenTries": 0
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Attach sanitized callback ack result — fail-soft; business classification unchanged.\nconst base = $('Offset dedupe idempotency guard').item.json;\nconst resp = $input.item.json;\nconst body = resp && resp.body !== undefined ? resp.body : resp;\nconst statusCode = resp && resp.statusCode !== undefined ? resp.statusCode : null;\nconst httpOk = statusCode >= 200 && statusCode < 300 && body && body.ok === true;\nreturn {\n  json: {\n    ...base,\n    callback_ack_applicable: true,\n    callback_ack_attempted: true,\n    callback_ack_ok: httpOk,\n    callback_ack_block_reason: httpOk ? null : 'ack_api_failure'\n  }\n};"
      },
      "id": "wf000025-0025-4025-8025-000000000025",
      "name": "Attach sanitized callback ack result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Attach callback ack skipped for non-applicable paths.\nconst d = $input.item.json;\nreturn {\n  json: {\n    ...d,\n    callback_ack_applicable: false,\n    callback_ack_attempted: false,\n    callback_ack_ok: null,\n    callback_ack_block_reason: 'not_applicable'\n  }\n};"
      },
      "id": "wf000026-0026-4026-8026-000000000026",
      "name": "Attach callback ack skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Deterministic reconvergence: exactly one receipt-side item (fail-closed on unexpected count).\nconst items = $input.all();\nif (items.length !== 1) {\n  throw new Error('Merge callback ack branches expected 1 item, got ' + items.length);\n}\nreturn [{ json: { ...items[0].json, receipt_items_count: 1 } }];"
      },
      "id": "wf000027-0027-4027-8027-000000000027",
      "name": "Merge callback ack branches (1 item)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Sanitized receipt — no callback_query_id, source_chat_id, token, or raw Telegram body.\nconst d = $input.item.json;\nconst build = $('Build getUpdates request from state').first().json;\nreturn {\n  json: {\n    inspect_status: d.status,\n    decision_id: d.decision_id,\n    selected_option: d.selected_option,\n    update_id: d.update_id,\n    duplicate_or_stale: d.duplicate_or_stale,\n    note_present: d.note_present,\n    block_reason: d.block_reason,\n    allowed_chat_configured: d.allowed_chat_configured,\n    offset_after_placeholder: d.offset_after_placeholder,\n    last_handled_update_id: d.last_handled_update_id,\n    callback_ack_applicable: d.callback_ack_applicable === true,\n    callback_ack_attempted: d.callback_ack_attempted === true,\n    callback_ack_ok: d.callback_ack_attempted ? d.callback_ack_ok === true : null,\n    callback_ack_block_reason: d.callback_ack_block_reason ?? (d.callback_ack_applicable ? null : 'not_applicable'),\n    open_decision_ids_source: build.open_decision_ids_source || null,\n    store_derivation_bypassed: build.store_derivation_bypassed === true,\n    open_decision_ids_count: build.open_decision_ids_count ?? null,\n    test_only: true\n  }\n};"
      },
      "id": "wf000008-0008-4008-8008-000000000008",
      "name": "Build sanitized polling receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Read-only inspect — contract fields plus four sanitized callback-ack fields only.\nconst d = $input.item.json;\nreturn {\n  json: {\n    inspect_status: d.inspect_status,\n    decision_id: d.decision_id || null,\n    selected_option: d.selected_option || null,\n    update_id: d.update_id ?? null,\n    duplicate_or_stale: d.duplicate_or_stale || false,\n    note_present: d.note_present || false,\n    block_reason: d.block_reason || null,\n    allowed_chat_configured: d.allowed_chat_configured === true,\n    offset_after_placeholder: d.offset_after_placeholder ?? null,\n    last_handled_update_id: d.last_handled_update_id ?? null,\n    callback_ack_applicable: d.callback_ack_applicable === true,\n    callback_ack_attempted: d.callback_ack_attempted === true,\n    callback_ack_ok: d.callback_ack_attempted ? d.callback_ack_ok === true : null,\n    callback_ack_block_reason: d.callback_ack_block_reason ?? (d.callback_ack_applicable ? null : 'not_applicable'),\n    open_decision_ids_source: d.open_decision_ids_source || null,\n    store_derivation_bypassed: d.store_derivation_bypassed === true,\n    open_decision_ids_count: d.open_decision_ids_count ?? null,\n    test_only: true\n  }\n};"
      },
      "id": "wf000009-0009-4009-8009-000000000009",
      "name": "Inspect polling result (read-only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        320
      ]
    },
    {
      "parameters": {
        "content": "TABLES: wf47_polling_state_test + control_plane_decisions_test\nPolling rows: last_update_id | last_handled_update_id | handled_keys_json\nStore: derive open_decision_ids where status=open (deduped Set).\nPattern from repo: workflows/42 + wf45 Collapse load fan-out.",
        "height": 120,
        "width": 400
      },
      "id": "wf000012-0012-4012-8012-000000000012",
      "name": "NOTE - offset store Data Table",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1080,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "wf47-if-handoff-on",
              "leftValue": "={{ $('Set Wf47 UI config').first().json.enable_wg48_handoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "wf47-if-handoff-accepted",
              "leftValue": "={{ $json.inspect_status }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf000019-0019-4019-8019-000000000019",
      "name": "IF Wg48 handoff enabled and accepted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": "CONFIGURE_48_WORKFLOW_REFERENCE_IN_N8N_UI",
        "options": {}
      },
      "id": "wf000020-0020-4020-8020-000000000020",
      "name": "Execute Workflow - Wg48 TEST ONLY (CONFIGURE_IN_N8N_UI)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2040,
        240
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Wf47 UI config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - TEST ONLY DISABLED": {
      "main": [
        [
          {
            "node": "Set Wf47 UI config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Wf47 UI config": {
      "main": [
        [
          {
            "node": "Data Table - Load shared decisions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Table - Load shared decisions": {
      "main": [
        [
          {
            "node": "Collapse shared decisions load fan-out (1 item per run)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse shared decisions load fan-out (1 item per run)": {
      "main": [
        [
          {
            "node": "Data Table - Load wf47 polling state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Table - Load wf47 polling state": {
      "main": [
        [
          {
            "node": "Build getUpdates request from state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build getUpdates request from state": {
      "main": [
        [
          {
            "node": "HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - getUpdates (CONFIGURE_IN_N8N_UI)": {
      "main": [
        [
          {
            "node": "Normalize Telegram updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram updates": {
      "main": [
        [
          {
            "node": "Authorize source chat per candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision Packet response": {
      "main": [
        [
          {
            "node": "Offset dedupe idempotency guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offset dedupe idempotency guard": {
      "main": [
        [
          {
            "node": "IF accepted persist state",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF callback ack applicable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF accepted persist state": {
      "main": [
        [
          {
            "node": "Prepare Data Table state upserts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Data Table state upserts": {
      "main": [
        [
          {
            "node": "Data Table - Upsert wf47 state row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build sanitized polling receipt": {
      "main": [
        [
          {
            "node": "IF Wg48 handoff enabled and accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Wg48 handoff enabled and accepted": {
      "main": [
        [
          {
            "node": "Execute Workflow - Wg48 TEST ONLY (CONFIGURE_IN_N8N_UI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inspect polling result (read-only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow - Wg48 TEST ONLY (CONFIGURE_IN_N8N_UI)": {
      "main": [
        [
          {
            "node": "Inspect polling result (read-only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorize source chat per candidate": {
      "main": [
        [
          {
            "node": "Parse Decision Packet response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF callback ack applicable": {
      "main": [
        [
          {
            "node": "HTTP Request - answerCallbackQuery (CONFIGURE_IN_N8N_UI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attach callback ack skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - answerCallbackQuery (CONFIGURE_IN_N8N_UI)": {
      "main": [
        [
          {
            "node": "Attach sanitized callback ack result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach sanitized callback ack result": {
      "main": [
        [
          {
            "node": "Merge callback ack branches (1 item)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach callback ack skipped": {
      "main": [
        [
          {
            "node": "Merge callback ack branches (1 item)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge callback ack branches (1 item)": {
      "main": [
        [
          {
            "node": "Build sanitized polling receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wf-telegram-polling"
    },
    {
      "name": "template-only"
    },
    {
      "name": "getUpdates"
    },
    {
      "name": "datatable-ready-import"
    },
    {
      "name": "control-plane"
    }
  ]
}
