workflows/wg-telegram-inbound-decision-state-correlation.template.json
{
  "name": "48 - Wg Telegram Inbound Decision State Correlation TEST ONLY - TEMPLATE",
  "nodes": [
    {
      "parameters": {},
      "id": "wg000001-0001-4001-8001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1320,
        200
      ]
    },
    {
      "parameters": {},
      "id": "wg000018-0018-4018-8018-000000000018",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1320,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Wf47 callable receipt — same contract as external_receipt; does not use Set Wg test scenario.\nconst receipt = $input.first().json;\nconst base = { test_only: true, scenario: 'callable_wf47' };\nconst invalid = () => [{\n  json: {\n    ...base,\n    inspect_status: 'blocked',\n    decision_id: null,\n    selected_option: null,\n    update_id: null,\n    inbound_text: 'missing-or-invalid-callable-receipt',\n    response_kind: 'malformed',\n    note_present: false,\n    block_reason: 'missing_or_invalid_callable_receipt',\n    test_only: true\n  }\n}];\nif (!receipt || typeof receipt !== 'object' || receipt.test_only !== true) return invalid();\nconst has = (k) => Object.prototype.hasOwnProperty.call(receipt, k);\nif (!has('inspect_status') || !has('decision_id') || !has('selected_option') || !has('update_id')) return invalid();\nlet response_kind = 'malformed';\nif (receipt.note_present === true && receipt.decision_id) response_kind = 'note';\nelse if (receipt.decision_id && ['1', '2', '3'].includes(String(receipt.selected_option))) response_kind = 'option';\nconst inbound_text = receipt.inbound_text || (receipt.decision_id && receipt.selected_option\n  ? 'dp:' + receipt.decision_id + ':' + receipt.selected_option\n  : 'missing-or-invalid-callable-receipt');\nreturn [{\n  json: {\n    ...base,\n    inspect_status: receipt.inspect_status,\n    decision_id: receipt.decision_id,\n    selected_option: receipt.selected_option,\n    update_id: receipt.update_id,\n    inbound_text,\n    response_kind,\n    note_present: !!receipt.note_present,\n    note_preview_sanitized: receipt.note_preview_sanitized || receipt.note_preview || null,\n    block_reason: receipt.block_reason || null,\n    duplicate_or_stale: !!receipt.duplicate_or_stale,\n    allowed_chat_configured: receipt.allowed_chat_configured,\n    offset_after_placeholder: receipt.offset_after_placeholder ?? null,\n    last_handled_update_id: receipt.last_handled_update_id ?? null,\n    external_receipt_source: 'wf47_callable'\n  }\n}];"
      },
      "id": "wg000019-0019-4019-8019-000000000019",
      "name": "Normalize Wf47 callable receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        520
      ]
    },
    {
      "parameters": {
        "content": "WG PREP — active=false. No Telegram. No Schedule.\n\nManual path: Set Wg test scenario (fixtures + external_receipt).\nCallable path: When Executed by Another Workflow → Normalize Wf47 callable receipt (no Set Wg test scenario) → correlate.\n\nBoth paths reach Correlate inbound to decision state via wg_decision_state_test only.",
        "height": 280,
        "width": 480
      },
      "id": "wg000011-0011-4011-8011-000000000011",
      "name": "NOTE - Wg correlation prep",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1400,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wg-set-scenario",
              "name": "scenario",
              "value": "valid_close",
              "type": "string"
            },
            {
              "id": "wg-set-manual-receipt",
              "name": "manual_receipt_json",
              "value": "{}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wg000013-0013-4013-8013-000000000013",
      "name": "Set Wg test scenario",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build sanitized inbound (fixtures or Wf47 external receipt). No Telegram API.\nconst setRow = $('Set Wg test scenario').first().json;\nconst scenario = String(setRow.scenario || 'valid_close').trim();\nconst base = { test_only: true, scenario };\nconst invalidExternal = () => [{\n  json: {\n    ...base,\n    inspect_status: 'blocked',\n    decision_id: null,\n    selected_option: null,\n    update_id: null,\n    inbound_text: 'missing-or-invalid-external-receipt',\n    response_kind: 'malformed',\n    note_present: false,\n    block_reason: 'missing_or_invalid_external_receipt',\n    test_only: true\n  }\n}];\nif (scenario === 'external_receipt') {\n  const raw = setRow.manual_receipt_json;\n  if (raw === undefined || raw === null || String(raw).trim() === '' || String(raw).trim() === '{}') {\n    return invalidExternal();\n  }\n  let receipt;\n  try {\n    receipt = typeof raw === 'string' ? JSON.parse(String(raw).trim()) : raw;\n  } catch (e) {\n    return invalidExternal();\n  }\n  if (!receipt || typeof receipt !== 'object' || receipt.test_only !== true) {\n    return invalidExternal();\n  }\n  const has = (k) => Object.prototype.hasOwnProperty.call(receipt, k);\n  if (!has('inspect_status') || !has('decision_id') || !has('selected_option') || !has('update_id')) {\n    return invalidExternal();\n  }\n  let response_kind = 'malformed';\n  if (receipt.note_present === true && receipt.decision_id) {\n    response_kind = 'note';\n  } else if (receipt.decision_id && ['1', '2', '3'].includes(String(receipt.selected_option))) {\n    response_kind = 'option';\n  }\n  const inbound_text = receipt.inbound_text || (receipt.decision_id && receipt.selected_option\n    ? 'dp:' + receipt.decision_id + ':' + receipt.selected_option\n    : 'missing-or-invalid-external-receipt');\n  return [{\n    json: {\n      ...base,\n      inspect_status: receipt.inspect_status,\n      decision_id: receipt.decision_id,\n      selected_option: receipt.selected_option,\n      update_id: receipt.update_id,\n      inbound_text,\n      response_kind,\n      note_present: !!receipt.note_present,\n      note_preview_sanitized: receipt.note_preview_sanitized || receipt.note_preview || null,\n      block_reason: receipt.block_reason || null,\n      duplicate_or_stale: !!receipt.duplicate_or_stale,\n      allowed_chat_configured: receipt.allowed_chat_configured,\n      offset_after_placeholder: receipt.offset_after_placeholder ?? null,\n      last_handled_update_id: receipt.last_handled_update_id ?? null,\n      external_receipt_source: 'wf47'\n    }\n  }];\n}\nconst fixtures = {\n  valid_close: {\n    inspect_status: 'accepted',\n    decision_id: 'D-9998-T',\n    selected_option: '1',\n    update_id: 986228900,\n    inbound_text: 'dp:D-9998-T:1',\n    response_kind: 'option',\n    note_present: false\n  },\n  duplicate: {\n    inspect_status: 'accepted',\n    decision_id: 'D-9998-T',\n    selected_option: '1',\n    update_id: 986228900,\n    inbound_text: 'dp:D-9998-T:1',\n    response_kind: 'option',\n    note_present: false\n  },\n  unknown: {\n    inspect_status: 'accepted',\n    decision_id: 'D-9999-X',\n    selected_option: '2',\n    update_id: 986228901,\n    inbound_text: 'dp:D-9999-X:2',\n    response_kind: 'option',\n    note_present: false\n  },\n  stale_closed: {\n    inspect_status: 'accepted',\n    decision_id: 'D-9998-T',\n    selected_option: '2',\n    update_id: 986228902,\n    inbound_text: 'dp:D-9998-T:2',\n    response_kind: 'option',\n    note_present: false\n  },\n  note_only: {\n    inspect_status: 'note_placeholder',\n    decision_id: 'D-9998-T',\n    selected_option: null,\n    update_id: 986228903,\n    inbound_text: 'note:D-9998-T:TEST_ONLY_follow_up',\n    response_kind: 'note',\n    note_present: true,\n    note_preview_sanitized: 'TEST_ONLY_follow_up'\n  },\n  malformed: {\n    inspect_status: 'blocked',\n    decision_id: null,\n    selected_option: null,\n    update_id: null,\n    inbound_text: 'not-a-valid-dp-response',\n    response_kind: 'malformed',\n    note_present: false\n  }\n};\nconst f = fixtures[scenario] || fixtures.malformed;\nreturn [{ json: { ...base, ...f } }];"
      },
      "id": "wg000002-0002-4002-8002-000000000002",
      "name": "Build sanitized inbound test input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        200
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "wg_decision_state_test"
        },
        "returnAll": true,
        "limit": 50
      },
      "id": "wg000014-0014-4014-8014-000000000014",
      "name": "Data Table - Load wg decision state",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -600,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Correlate inbound to wg_decision_state_test. No raw Telegram identifiers.\nconst callableRows = $('Normalize Wf47 callable receipt').all();\nconst manualRows = $('Build sanitized inbound test input').all();\nconst inb = (callableRows.length ? callableRows[0].json : manualRows[0].json);\nconst rows = $('Data Table - Load wg decision state').all().map((i) => i.json);\nconst findRow = (id) => rows.find((r) => r && String(r.decision_id) === String(id));\nlet correlation_status = 'blocked';\nlet block_reason = 'malformed_response';\nlet decision_id = inb.decision_id || null;\nlet selected_option = inb.selected_option || null;\nlet update_id = inb.update_id ?? null;\nlet note_present = !!inb.note_present;\nlet persist_row = null;\nconst now = new Date().toISOString();\nif (inb.response_kind === 'malformed' || !decision_id) {\n  block_reason = 'malformed_response';\n} else if (inb.response_kind === 'note') {\n  const row = findRow(decision_id);\n  if (!row) {\n    block_reason = 'unknown_decision_id';\n  } else {\n    correlation_status = 'note_recorded';\n    block_reason = null;\n    const preview = String(inb.note_preview_sanitized || inb.inbound_text || '').slice(0, 80);\n    persist_row = {\n      decision_id,\n      status: String(row.status || 'open'),\n      selected_option: row.selected_option || '',\n      created_at: row.created_at || now,\n      closed_at: row.closed_at || '',\n      update_id: String(update_id || row.update_id || ''),\n      note_preview: preview,\n      source: 'TEST ONLY'\n    };\n  }\n} else if (inb.response_kind === 'option') {\n  const row = findRow(decision_id);\n  if (!row) {\n    block_reason = 'unknown_decision_id';\n  } else if (String(row.status) === 'closed') {\n    if (update_id != null && String(row.update_id) === String(update_id)) {\n      block_reason = 'duplicate_or_already_closed';\n    } else {\n      block_reason = 'already_closed_or_stale';\n    }\n  } else if (String(row.status) === 'open' && ['1', '2', '3'].includes(String(selected_option))) {\n    correlation_status = 'closed';\n    block_reason = null;\n    persist_row = {\n      decision_id,\n      status: 'closed',\n      selected_option: String(selected_option),\n      created_at: row.created_at || now,\n      closed_at: now,\n      update_id: String(update_id),\n      note_preview: row.note_preview || '',\n      source: 'TEST ONLY'\n    };\n  } else {\n    block_reason = 'malformed_response';\n  }\n}\nreturn {\n  json: {\n    correlation_status,\n    block_reason,\n    decision_id,\n    selected_option,\n    update_id,\n    note_present,\n    prior_status: decision_id ? (findRow(decision_id)?.status || 'missing') : 'missing',\n    persist_row,\n    test_only: true\n  }\n};"
      },
      "id": "wg000005-0005-4005-8005-000000000005",
      "name": "Correlate inbound to decision state",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "wg-if-persist",
              "leftValue": "={{ $json.correlation_status === 'closed' || $json.correlation_status === 'note_recorded' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wg000015-0015-4015-8015-000000000015",
      "name": "IF persist decision state",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -120,
        80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const c = $('Correlate inbound to decision state').item.json;\nconst p = c.persist_row;\nreturn { json: p };"
      },
      "id": "wg000016-0016-4016-8016-000000000016",
      "name": "Prepare decision state upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        80
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "wg_decision_state_test"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "decision_id",
              "condition": "eq",
              "keyValue": "={{ $json.decision_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "decision_id": "={{ $json.decision_id }}",
            "status": "={{ $json.status }}",
            "selected_option": "={{ $json.selected_option }}",
            "created_at": "={{ $json.created_at }}",
            "closed_at": "={{ $json.closed_at }}",
            "update_id": "={{ $json.update_id }}",
            "note_preview": "={{ $json.note_preview }}",
            "source": "={{ $json.source }}"
          }
        },
        "options": {}
      },
      "id": "wg000017-0017-4017-8017-000000000017",
      "name": "Data Table - Upsert wg decision row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        360,
        80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const c = $('Correlate inbound to decision state').item.json;\nreturn {\n  json: {\n    correlation_status: c.correlation_status,\n    decision_id: c.decision_id,\n    selected_option: c.selected_option,\n    update_id: c.update_id,\n    note_present: c.note_present,\n    block_reason: c.block_reason,\n    prior_status: c.prior_status,\n    state_persisted: c.persist_row !== null && c.persist_row !== undefined,\n    test_only: true\n  }\n};"
      },
      "id": "wg000008-0008-4008-8008-000000000008",
      "name": "Build sanitized correlation receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $input.item.json;\nreturn {\n  json: {\n    inspect_status: d.correlation_status,\n    decision_id: d.decision_id || null,\n    selected_option: d.selected_option || null,\n    update_id: d.update_id ?? null,\n    note_present: d.note_present || false,\n    block_reason: d.block_reason || null,\n    prior_status: d.prior_status || null,\n    state_persisted: d.state_persisted === true,\n    test_only: true\n  }\n};"
      },
      "id": "wg000009-0009-4009-8009-000000000009",
      "name": "Inspect correlation result (read-only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        320
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Wg test scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Wf47 callable receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Wf47 callable receipt": {
      "main": [
        [
          {
            "node": "Data Table - Load wg decision state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Wg test scenario": {
      "main": [
        [
          {
            "node": "Build sanitized inbound test input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build sanitized inbound test input": {
      "main": [
        [
          {
            "node": "Data Table - Load wg decision state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Table - Load wg decision state": {
      "main": [
        [
          {
            "node": "Correlate inbound to decision state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correlate inbound to decision state": {
      "main": [
        [
          {
            "node": "IF persist decision state",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build sanitized correlation receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF persist decision state": {
      "main": [
        [
          {
            "node": "Prepare decision state upsert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare decision state upsert": {
      "main": [
        [
          {
            "node": "Data Table - Upsert wg decision row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build sanitized correlation receipt": {
      "main": [
        [
          {
            "node": "Inspect correlation result (read-only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wg-decision-correlation"
    },
    {
      "name": "template-only"
    },
    {
      "name": "control-plane"
    }
  ]
}
